.categoriatitulo {
    padding: 1rem 0 3rem;
}

.categoriatitulo p {
    padding-top: 1rem;
}

.categoriatitulo h1 {
    font-size: calc(1.7rem + 1vw);
}

.imagemcapa {
    height: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 10px;
}

.imagemcapa img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-position: center 50%;
}

.secaotitulo {
    margin-bottom: 1.5rem;
}

.postagensquadro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.postlink:nth-child(1) {
    width: calc(65% - 0.5rem);
    height: 25rem;
}

.postlink:nth-child(2) {
    width: calc(35% - 0.5rem);
    height: 25rem;
}

.postlink {
    justify-content: flex-end;
}

.postlink > div > span {
    font-size: 1.7rem;
}

.ladoD {
    padding-left: 2rem;
}

@media (max-width: 48.49rem) {
    .categoriatitulo h1 {
        font-size: 1.8rem;
    }
}

.acessarcategoria {
    display: block;
    width: 100%;
    color: var(--corprincipal);
    margin-top: 1rem;
    text-align: right;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.5rem;
}

.filtros {
    position: sticky;
    top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;
    max-height: calc(100svh - 10rem);
    overflow-y: auto;
}

.filtro-btn {
    flex: 1;
    white-space: nowrap;
    height: fit-content;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--gradiente);
    font-size: 1rem;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.filtro-btn.active {
    background: var(--corsecundaria);
}

.level-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
}

.filter-option {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--corprincipal);
    font-size: 1rem;
    transition: all 0.2s;
    flex: 1;
    border-radius: 10px;
}

.filter-option input {
    display: none;
}

.filter-option:hover {
    background: var(--corsecundaria);
}

.filter-option input:checked {
    background: var(--corsecundaria);
}

.filter-option input:checked + span {
    font-weight: bold;
    text-decoration: underline;
}

.listagrimorios {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
}

.listagrimorios a {
    flex: 1;
    max-height: 200px;
}

@media (max-width: 59.9rem) {
    .postlink:nth-child(n) {
        min-width: 100%;
        aspect-ratio: 1/1;
    }

    .filtros {
        position: static;
    }
}
