.categoriatitulo {
    padding: 4rem 0;
}

.corpo {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.postagensquadro {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.postlink:nth-child(1) {
    width: calc(65% - 0.5rem);
    height: 25rem;
}

.postlink:nth-child(2) {
    width: calc(35% - 0.5rem);
    height: 25rem;
}

.postlink:nth-child(3),
.postlink:nth-child(4) {
    width: calc(50% - 0.5rem);
    height: 20rem;
}

.postlink:nth-child(5),
.postlink:nth-child(6),
.postlink:nth-child(7) {
    height: 20rem;
    width: calc(33% - 0.51rem);
}

.postlink > div > span {
    font-size: 1.7rem;
}

.linkrestante {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-top: 2px var(--corprincipal) solid;    
}

.linkrestante > figure {
    width: 8rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.linkrestante > div {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}


.linkrestante > div > .titulorestante {
    font-size: 1.5rem;
    font-weight: 700;
}

.linkrestante > div > p {
    font-size: 1.2rem;
}

.ladoD {
    padding-left: 2rem;
}

.listatags {
    position: sticky;
    top: 10rem;
}

.listatags > ul {
    padding-left: 0;
    list-style: none;
}

.listatags details {
    margin-bottom: .5rem;
}

.listatags details:hover {
    cursor: pointer;
}

.listatags summary::marker {
    font-size: 1rem;
}


.listatags details > summary {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
}


.listatags details > a {
    padding-left: 1rem;
    color: var(--corprincipal);
    text-decoration: underline;
    display: block;
}

.listatags details > a::before {
    content: '▸ ';
}

@media (max-width: 48.49rem) {
    
    
    .categoriatitulo h1 {
        font-size: 1.7rem;
    }
    
    .corpo {
        display: block;
    }
    
    .ladoD {
        padding: 0;
    }
    
    .ladoD h3 {
        column-span: all;
    }
}

@media (max-width: 23.186rem) {
    .ladoD {
        column-count: 1;
    }
}

@media (max-width: 59.9rem) {
    .postlink:nth-child(n){
        width: 100%;
        aspect-ratio: 1/1;
    }
}