@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
    font-family: "Poppins";
}
a {
    text-decoration: none;
}
b {
    font-weight: bold;
}
.barraFlutuante {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.38);
    z-index: 999;
}
.gradienteBase {
    background: rgb(193, 58, 90);
    background: -webkit-linear-gradient(
        left,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
}
.imagemSite {
    width: 30%;
    height: 100%;
    display: inline-block;
}

.imagemSite a {
    display: inline-block;
    height: 100%;
}
figure img,
.imagemSite a img {
    height: 100%;
}
a figure {
    text-align: center;
}
a figure img {
    width: 100%;
}
#menuSuperior {
    margin-top: 6em;
    top: 0;
    right: 0;
    padding-right: 1em;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    align-items: flex-end;
    line-height: 3em;
    font-weight: bold;
    transition: 1s;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.38);
}
#menuSuperior a {
    color: #fff;
    display: block;
    font-size: 1.2em;
}
.icon {
    display: inline-block;
    margin: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    z-index: 99;
    cursor: pointer;
}
/* ------------------------------------------------------- */
.corpo {
    width: 100%;
    padding-top: 6em;
}
.margemGeral {
    margin: 1em;
}
.tituloSecao {
    width: 100%;
    border-bottom: 1px solid #c13a5a;
    margin-bottom: 1em;
}
.tituloSecao p,
.tituloSecao h2 {
    display: inline-block;
    line-height: 2em;
}
.tituloSecao p {
    height: 2em;
    width: 2em;
    text-align: center;
    color: #fff;
    margin-right: 0.5em;
}
.tituloSecao h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.postsDestaque {
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(2);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-bottom: 1em;
}

.postCaixa:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    height: 47vw;
    max-height: 500px;
}

.postCaixa:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
    height: 23vw;
    max-height: calc(250px - 0.5vw);
}

.postCaixa:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4;
    height: 23vw;
    max-height: calc(250px - 0.5vw);
}

.postCaixa {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.postCategoria {
    position: relative;
    top: 0.5em;
    left: 0.5em;
    display: inline-block;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
}

.postTexto,
.postTexto3 {
    padding: 0.5em 1vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    color: #fff;
    width: calc(100% - 1em);
}

.postTitulo,
.postTitulo2,
.postTitulo3 {
    font-family: "Jaro", sans-serif;
    font-size: calc(1em + 0.8vw);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postCaixa:nth-child(2) .postDescricao,
.postCaixa:nth-child(3) .postDescricao {
    display: none;
}

.postsResto {
    border: 1px solid #c13a5a;
    padding: 0.5em;
    column-count: 3;
    height: 50vw;
    max-height: 350px;
    margin-bottom: 3em;
}

.postCaixa2 figure {
    overflow: hidden;
}

.postCaixa2 {
    height: calc(25% - 0.5em);
    margin-bottom: 0.5em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    color: #000;
    position: relative;
}

.postCaixa2:not(:nth-child(1)) figure {
    height: 100%;
    width: 39%;
    overflow: hidden;
}

.postCaixa2:not(:nth-child(1)) .postTexto2 {
    width: 58%;
}

.postCaixa2:nth-child(1) {
    height: 100%;
    position: relative;
    display: block;
}

.postCaixa2:nth-child(1) figure {
    height: 50%;
    max-height: 250px;
    overflow: hidden;
    display: flex;
}

.postCaixa2 figure img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.postCaixa2:not(:nth-child(1)) .postCategoria2 {
    display: none;
}

.postCaixa2:nth-child(1) .postCategoria2 {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: inline-block;
    padding: 0.5em;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    width: fit-content;

    text-transform: capitalize;
}

.postCaixa2:nth-child(1) .postTexto2 {
    margin-top: 0.5em;
}

.postCaixa2:not(:nth-child(1)) .postTitulo2 {
    font-weight: 100;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postCaixa2:nth-child(1) .postTitulo2,
.postTitulo3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postCaixa2:nth-child(1) .postDescricao2,
.postDescricao3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.postData2 {
    font-size: 0.8rem;
}

.postCaixa2:not(:nth-child(1)) .postDescricao2 {
    display: none;
}
/*--------------------------*/

.parceiros {
    padding: 2em 0;
    border-radius: 0.5rem;
}

.listaParceiros {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
    gap: 1em;
}
.listaParceiros > div {
    flex: 0 0 110px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #c13a5a;
    position: relative;
    overflow: hidden;
}

.listaParceiros > div .dadosParceiro {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: #02022e;
    background: linear-gradient(
        0deg,
        rgba(193, 58, 90, 0.6755077031) 0%,
        rgba(153, 1, 42, 0) 100%
    );
    transition:
        opacity 0.5s ease-in-out,
        transform 0.5s 0.2s;
    visibility: hidden;
}
.listaParceiros > div .dadosParceiro span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
}
.listaParceiros > div:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #c13a5a;
    transform: scale(105%);
}
.listaParceiros > div:hover .dadosParceiro {
    opacity: 1;
    transform: translatey(-5%);
    visibility: visible;
}

.dadosParceiro h3 {
    font-family: "Jaro", sans-serif;
}

/*-------------------------*/

.listaSecundaria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postCaixa3 {
    width: 32%;
    aspect-ratio: 1/1;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    transition: all 0.3s;
}

.postCategoria3 {
    width: fit-content;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    text-transform: capitalize;
}

.postTexto3 {
    position: absolute;
    bottom: 0;
}

.postDescricao3 {
    -webkit-line-clamp: 2;
}

/*--------------------------*/
.texto figure {
    width: 50%;
    margin: 0 auto;
}
.texto figure img {
    width: 100%;
}
.tituloArtigo {
    text-align: center;
    color: #fff;
    margin: 1em 0;
}
.tituloArtigo h1 {
    font-size: 1.3em;
    font-weight: bold;
}
.tituloArtigo p {
    font-style: italic;
}
.texto2 p:not(.gradienteBase) {
    margin-bottom: 0.5em;
    text-indent: 1em;
}
.tabela {
    margin-bottom: 1em;
}
.tabela table {
    width: 100%;
    line-height: 1.2rem;
    border: 2px solid #c13a5a;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
sup {
    vertical-align: super;
    font-size: small;
}
.tabela table tr td {
    padding: 0.4rem;
    font-size: calc(0.5em + 1vw);
}
.tabela table tr td:first-child {
    background: #c13a5a;
    text-align: right;
    border-bottom: 1px solid white;
    width: 30%;
    color: #fff;
}
.tabela table tr td:last-child {
    border-bottom: 1px solid #c13a5a;
}
.downloads {
    margin-bottom: 1em;
}
.downloads div:not(.downloads div:first-child) {
    text-align: center;
    padding: 0.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.linksBaixar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.linksBaixar a {
    background: #fff;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 150px;
    min-width: 1.5em;
    color: #c13a5a;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 1em;
}
.downloads a i {
    margin-right: 0.5em;
}
.outrosLinks a {
    display: block;
    color: #c13a5a;
    font-weight: bold;
    margin: 0.5em 0;
}
.outrosLinks {
    margin-bottom: 1em;
}
/*-------------------------*/
footer {
    line-height: 2em;
    text-align: center;
    color: #fff;
    padding-bottom: 1em;
}

footer img {
    margin-top: 1em;
    margin-bottom: -0.5em;
    height: 2em;
}
.paraCima {
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 33;
}
.paraCima a {
    display: block;
    color: #fff;
    font-size: 1.5em;
    line-height: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
}
.construcao {
    width: 100%;
    text-align: center;
    margin-top: 3em;
    font-size: 1.2em;
}
/*------------------*/
.tabelaLinks table {
    width: 100%;
    border: 1px solid #c13a5a;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 1em;
    font-size: calc(0.5em + 1vw);
}
.tabelaLinks table tr th {
    background: #c13a5a;
    color: #fff;
    padding: 0.4em;
    text-transform: uppercase;
    font-weight: bold;
}
.tabelaLinks table tr td {
    padding: 0.4rem;
    border: 1px solid #c13a5a;
}
.tabelaLinks table tr td a {
    color: #c13a5a;
}
.tabelaLinks table tr th:first-child,
.tabelaLinks table tr td:first-child {
    width: 35%;
}
.romInfo table tr td:first-child {
    width: 15%;
}
.linksGeral a {
    color: #c13a5a;
}
/*---------------*/
.galeria {
    width: 100%;
}
.galeria ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria ul li {
    display: block;
    width: 48%;
    text-align: center;
}
.galeria figure {
    flex-direction: column;
    width: 100%;
}
.galeria figcaption {
    width: 100%;
    color: #fff;
    height: 2.6em;
    margin-bottom: 1em;
    line-height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria ul li img {
    width: 100%;
}

.steamWidget {
    width: 100%;
}

.steamWidget iframe {
    width: 100%;
    min-height: 200px;
}
/*------------------*/
.avisoErros {
    text-indent: none;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin: 2em 0 0 0;
}
.avisoErros::before {
    display: block;
    width: 100%;
    content: "⚠️";
}
/*-----Aside------*/

.direita {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.postCaixa4 {
    width: 32%;
    aspect-ratio: 16/9;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    transition: all 0.3s;
}

.direita .postTitulo3 {
    font-size: 14pt;
}
/*-----------------*/
@media (max-width: 600px) {
    .postsDestaque {
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(3);
    }

    .postCaixa:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
    }

    .postCaixa:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .postCaixa:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
    }

    .postCaixa:nth-child(2),
    .postCaixa:nth-child(3) {
        height: 200px;
    }
    .postsResto {
        column-count: auto;
        height: fit-content;
        max-height: fit-content;
    }
    .postCaixa2 {
        height: 100px;
    }

    .postCaixa2:nth-child(1) {
        height: fit-content;
    }
    .postCaixa2:not(:nth-child(1)) figure {
        width: 25%;
    }

    .postCaixa2:not(:nth-child(1)) .postTexto2 {
        width: 70%;
    }

    .postTitulo2 {
        font-size: 2em;
    }

    .postCaixa2:not(:nth-child(1)) .postTitulo2 {
        font-size: 1.7em;
    }

    .postCaixa2:nth-child(1) figure {
        width: 100%;
        height: 60%;
        max-height: 60%;
    }

    .postCaixa2:nth-child(1) .postTexto2 {
        height: fit-content;
        max-height: fit-content;
    }

    .listaParceiros {
        flex-wrap: wrap;
        height: 500px;
    }

    .listaParceiros > div {
        flex: 0 0 250px;
    }

    .listaParceiros > div .dadosParceiro {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6755077031) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        opacity: 1;
        transform: translatey(-5%);
        visibility: visible;
    }
}

@media (max-width: 479px) {
    .postData {
        display: none;
    }
}

@media (min-width: 901px) {
    .corpo {
        max-width: 900px;
        margin: 0 auto;
    }

    .margemGeral {
        position: relative;
    }
     
    
    .esquerda {
        width: 70%;
    }

    .direita {
        position: absolute;
        width: 25%;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .postCaixa4 {
        width: 100%;
    }

    .texto figure {
        width: 40%;
        float: right;
        clear: both;
        margin-left: 1em;
    }
    .gridGrande {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2);
        grid-column-gap: 1em;
    }
    fichaTecnica {
        grid-area: 1 / 4 / 2 / 6;
    }
    .sobreTraducao {
        grid-area: 1 / 1 / 3 / 4;
    }
    .equipeInfo {
        grid-area: 2 / 4 / 3 / 6;
    }
    .tabelaLinks table,
    .tabela table tr td {
        font-size: 1em;
    }
    .galeria ul li {
        width: 32%;
    }
    .galeria figure {
        width: 100%;
    }
    .gridGrande .tabela table tr td:first-child {
        width: 40%;
    }
    .tabelaLinks table tr th:first-child,
    .tabelaLinks table tr td:first-child {
        width: 25%;
    }
}

@media (min-width: 1009px) {
    .corpo {
        max-width: 1008px;
    }

    .postCaixa3:hover {
        transform: scale(110%);
    }

    #menuSuperior {
        margin: 0;
        display: inline-block;
        position: static;
        font-size: inherit;
        text-align: right;
        box-shadow: none;
    }
    #menuSuperior a {
        display: inline-block;
        margin: 1em;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    .icon {
        display: none;
    }
}
.ocultar {
    display: none;
}
/*-----Página 404----*/
.erro404 {
    width: 80%;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3em auto;
    line-height: 1;
}
.erro404 p:first-child {
    font-size: calc(2em + 2vw);
}
.erro404 p:last-child {
    font-size: calc(1em + 0.3vw);
}
