@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

b {
    font-weight: bold;
}

.barraFlutuante {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
    z-index: 999;
}

.gradienteBase {
    background: rgb(193, 58, 90);
    background: -webkit-linear-gradient(
        left,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(193, 58, 90, 1) 32%,
        rgba(153, 1, 42, 1) 100%
    );
}

.imagemSite {
    width: 30%;
    height: 100%;
    display: inline-block;
}

figure {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imagemSite a {
    display: inline-block;
    height: 100%;
}

figure img,
.imagemSite a img {
    height: 100%;
}

a figure {
    text-align: center;
}
a figure img {
    width: 100%;
}

#menuSuperior {
    margin-top: 6em;
    top: 0;
    right: 0;
    padding-right: 1em;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    align-items: flex-end;
    line-height: 3em;
    font-weight: bold;
    transition: 1s;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.38);
}

#menuSuperior a {
    color: #fff;
    display: block;
    font-size: 1.2em;
}

.icon {
    display: inline-block;
    margin: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    z-index: 99;
    cursor: pointer;
}

/* ------------------------------------------------------- */

.corpo {
    width: 100%;
    padding-top: 6em;
}

.margemGeral {
    margin: 1em;
}

.centralizar {
    display: flex;
    align-items: center;
}

.bannerProjetos {
    position: relative;
    width: 100%;
    height: 140px;
    margin: 1em 0;
    overflow: hidden;
}

.bannerN {
    position: absolute;
    top: 0;
    left: 100%;
    width: inherit;
    height: inherit;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.bannerProjetos .bannerN.active {
    left: 0;
    transition: all 1s ease-out;
}

.bannerN div {
    position: relative;
    height: 60%;
    top: 20%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.bannerN p:first-child {
    font-size: calc(0.7em + 1vw);
}

.bannerN p:last-child {
    font-size: calc(1.2em + 1vw);
}

.bannerN figure {
    height: inherit;
    display: block;
}

.bannerN img {
    height: 100%;
}

.tituloSecao {
    width: 100%;
    border-bottom: 1px solid #c13a5a;
    margin-bottom: 1em;
}

.tituloSecao p,
.tituloSecao h2 {
    display: inline-block;
    line-height: 2em;
}

.tituloSecao p {
    height: 2em;
    width: 2em;
    text-align: center;
    color: #fff;
    margin-right: 0.5em;
}

.tituloSecao h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.welcome img {
    width: 100%;
}

.novidade {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    color: black;
    border-bottom: 1px solid #c13a5a;
}

.novidade figure {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.novidade div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
}
.novidade h3 {
    border-bottom: 1px solid #c13a5a;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

.novidade p {
    margin: 0.5em 0;
}

.novidade p::after {
    content: "Ver Mais →";
    text-decoration: underline;
    display: block;
    right: 0;
    text-align: right;
}

.novidade img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.projetosNovos {
    margin-top: 3em;
}

.verTudo {
    display: block;
    width: 100%;
    text-align: right;
}

.verTudo a {
    color: #c13a5a;
}

.parceirosProjetos .novidade {
    width: 100%;
    margin-bottom: 1em;
    color: #000;
    display: block;
    margin-bottom: 1em;
    border-bottom: 1px solid #c13a5a;
}

.parceirosProjetos .novidade figure {
    width: 40%;
    max-width: 230px;
    float: left;
    margin-right: 1em;
}

.parceirosProjetos .novidade div {
    display: block;
    width: 100%;
}
.parceirosProjetos .novidade h3 {
    border-bottom: 1px solid #c13a5a;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.parceirosProjetos .novidade p {
    margin: 0.5em 0;
}

.parceirosProjetos .novidade p::after {
    content: "Ver Mais (link externo)→";
    text-decoration: underline;
    display: block;
    right: 0;
    text-align: right;
}

.parceirosProjetos .novidade img {
    max-width: 100%;
    width: 100%;
}

.parceirosProjetos h4 {
    font-size: 0.9em;
    padding: 0.2em;
    color: #fff;
}

/*-------------------------*/

.texto figure {
    width: 50%;
    margin: 0 auto;
}

.texto figure img {
    width: 100%;
}

.tituloArtigo {
    text-align: center;
    color: #fff;
    margin: 1em 0;
}

.tituloArtigo h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.tituloArtigo p {
    font-style: italic;
}

.texto2 p:not(.gradienteBase) {
    margin-bottom: 0.5em;
    text-indent: 1em;
}

.tabela {
    margin-bottom: 1em;
}

.tabela table {
    width: 100%;
    line-height: 1.2rem;
    border: 2px solid #c13a5a;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

sup {
    vertical-align: super;
    font-size: small;
}

.tabela table tr td {
    padding: 0.4rem;
    font-size: calc(0.5em + 1vw);
}

.tabela table tr td:first-child {
    background: #c13a5a;
    text-align: right;
    border-bottom: 1px solid white;
    width: 30%;
    color: #fff;
}

.tabela table tr td:last-child {
    border-bottom: 1px solid #c13a5a;
}

.downloads {
    margin-bottom: 1em;
}

.downloads div:not(.downloads div:first-child) {
    text-align: center;
    padding: 0.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.linksBaixar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linksBaixar a {
    background: #fff;
    display: inline-block;
    color: #c13a5a;
    padding: 0.2em 0.5em;
    border-radius: 150px;
    min-width: 1.5em;
    color: #c13a5a;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 1em;
}

.downloads a i {
    margin-right: 0.5em;
}

.outrosLinks a {
    display: block;
    color: #c13a5a;
    font-weight: bold;
    margin: 0.5em 0;
}

.outrosLinks {
    margin-bottom: 1em;
}

/*-------------------------*/

footer {
    height: 4em;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #c13a5a;
    border-top: 1px solid #c13a5a;
}

.paraCima {
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

.paraCima a {
    display: block;
    color: #fff;
    font-size: 1.5em;
    line-height: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
}

.construcao {
    width: 100%;
    text-align: center;
    margin-top: 3em;
    font-size: 1.2em;
}

/*------------------*/
.tabelaLinks table {
    width: 100%;
    border: 1px solid #c13a5a;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 1em;
    font-size: calc(0.5em + 1vw);
}

.tabelaLinks table tr th {
    background: #c13a5a;
    color: #fff;
    padding: 0.4em;
    text-transform: uppercase;
    font-weight: bold;
}

.tabelaLinks table tr td {
    padding: 0.4rem;
    border: 1px solid #c13a5a;
}

.tabelaLinks table tr td a {
    color: #c13a5a;
}

.tabelaLinks table tr th:first-child,
.tabelaLinks table tr td:first-child {
    width: 35%;
}

.romInfo table tr td:first-child {
    width: 15%;
}

.linksGeral a {
    color: #c13a5a;
}

/*---------------*/

.galeria {
    width: 100%;
    text-align: center;
}

.galeria ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria ul li {
    display: block;
    width: 48%;
}

.galeria figure {
    flex-direction: column;
    width: 100%;
}

.galeria figcaption {
    width: 100%;
    color: #fff;
    height: 2.6em;
    margin-bottom: 1em;
    line-height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria ul li img {
    width: 100%;
}
/*------------------*/

.avisoErros {
    text-indent: none;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin: 2em 0 0 0;
}

.avisoErros::before {
    display: block;
    width: 100%;
    content: "⚠️";
}

@media (min-width: 721px) and (max-width: 1119px) {
    .bannerProjetos {
        height: 160px;
    }

    .bannerN p:first-child {
        font-size: 1.5em;
    }

    .bannerN p:last-child {
        font-size: 1.8em;
    }
}

/*-----------------*/
@media (min-width: 901px) {
    .corpo {
        max-width: 900px;
        margin: 0 auto;
    }

    #menuSuperior {
        margin: 0;
        display: inline-block;
        position: static;
        font-size: inherit;
        text-align: right;
        box-shadow: none;
    }

    #menuSuperior a {
        display: inline-block;
        margin: 1em;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }

    .icon {
        display: none;
    }

    .novidade {
        width: 100%;
        min-height: 250px;
        text-overflow: ellipsis;
        margin-bottom: 1em;
        color: #000;
        display: block;
        margin-bottom: 1em;
        border-bottom: 1px solid #c13a5a;
    }

    .novidade figure {
        width: 35%;
        float: left;
        margin-right: 1em;
        clear: both;
    }

    .novidade div {
        display: block;
        width: 100%;
    }
    .novidade h3 {
        border-bottom: 1px solid #c13a5a;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }

    .novidade p {
        margin: 0.5em 0;
    }

    .novidade p::after {
        content: "Ver Mais →";
        text-decoration: underline;
        display: block;
        right: 0;
        text-align: right;
    }

    .novidade img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    .parceirosProjetos {
        margin-top: 2em;
        border-top: 2em solid #c13a5a;
        padding-top: 2em;
    }
    
    .texto figure {
        width: 40%;
        float: right;
        clear: both;
        margin-left: 1em;
    }

    .gridGrande {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2);
        grid-column-gap: 1em;
    }

    .fichaTecnica {
        grid-area: 1 / 4 / 2 / 6;
    }

    .sobreTraducao {
        grid-area: 1 / 1 / 3 / 4;
    }
    .equipeInfo {
        grid-area: 2 / 4 / 3 / 6;
    }

    .tabelaLinks table,
    .tabela table tr td {
        font-size: 1em;
    }

    .galeria ul li {
        width: 24%;
    }

    .galeria figure {
        width: 100%;
    }

    .gridGrande .tabela table tr td:first-child {
        width: 40%;
    }

    .tabelaLinks table tr th:first-child,
    .tabelaLinks table tr td:first-child {
        width: 25%;
    }
}
@media (min-width: 901px) and (max-width: 1119px) {
    .novidade {
        display: flex;
        margin-bottom: 1em;
        border-bottom: 1px solid #c13a5a;
    }

    .novidade figure {
        width: 35%;
        display: inline-block;
    }

    .novidade div {
        display: flex;
        flex-direction: column;
        width: 65%;
        height: inherit;
    }

}
@media (min-width: 1200px) {
    .corpo:has(.margemGeral):has(.gridInicial) {
        min-width: 1200px;
        max-width: 1600px;
    }

    .gridInicial {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8);
        grid-template-rows: repeat(5);
        grid-column-gap: 2em;
    }

    .welcome {
        grid-area: 1 / 1 / 3 / 7;
    }
    .bannerProjetos {
        grid-area: 1 / 7 / 2 / 9;
        margin-top: 0;
    }
    .bannerN div {
        height: 100%;
        top: 0;
    }
    .bannerN p:first-child {
        font-size: 1em;
    }

    .bannerN p:last-child {
        font-size: 1.5em;
    }

    .corpo:has(.margemGeral):has(.gridInicial) .traducoesNovas {
        margin-top: -6em;
    }
    .corpo:has(.margemGeral):has(.gridInicial) .projetosNovos {
        margin-top: -6em;
    }
    .traducoesNovas {
        grid-area: 3 / 1 / 6 / 4;
        
    }
    .projetosNovos {
        grid-area: 3 / 4 / 6 / 7;
        
    }

    .parceirosProjetos {
        grid-area: 2 / 7 / 6 / 9;
    }
}

.ocultar {
    display: none;
}
