.painelNovidades {
    margin-top: 4rem;
}

article {
    margin: 3rem auto 5rem;
    width: 85%;
    max-width: 1000px;
}

article picture {
    width: 100%;
    display: flex;
    align-items: center;
}

article picture img {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

article h1 {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

article p {
    margin-bottom: 1rem;
    font-size: 1rem;
}


article h1 + p {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0 auto 1.5rem;
    text-align: center;
    display: block;
}

article h2 {
    color: teal;
    border-bottom: 2px dotted #008080;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem auto 1rem;
}

article table {
    width: 100%;
    line-height: 1.2rem;
    border: 2px solid #008080;
}

sup {
    vertical-align: super;
    font-size: small;
}

article table tr td {
    padding: 0.3rem;
    font-size: calc(1rem + 0.2vw);
}

article table tr td:first-child {
    background: #008080;
    text-align: right;
    border-bottom: 1px solid white;
    width: 30%;
}

article table tr td:last-child {
    border-bottom: 1px solid #008080;
}

article a {
    color: #008080;
    display: block;
    line-height: 1.3rem;
    text-decoration: underline;
}

article ul li {
    list-style-type: circle;
    list-style-position: inside;
    color: brown;
    margin-bottom: 10px;
}

article ul li p{
    text-indent: 1pt;
    color: white;
    display: inline;
}

article p img {
    height:inherit;
}

article * a {
    display: inline;
    text-decoration: underline;
}

article h6 {
    color: mediumaquamarine;
    font-style: italic;
    margin-bottom:7px;
    margin-top: 20px;
}

article h5 {
    color: brown;
    list-style-type: circle;
    font-weight: bold;
    font-size: calc(1rem + 0.1vw);
}

article h5::before {
    content: "• ";
}
