@import "https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap";

@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css";

:root {
    --tamanhocorpo: 69rem;
    --espacamentocorpo: 1.5rem;
    --corprincipal: #c13a5a;
    --corsecundaria: #99012aff;
    --corfundo: #0d0f12;
    --cortexto: #e3e6e8;
    --gradiente: linear-gradient(to right, #c13a5a, #b72f4e, #ad2342, #a31536, #99012a);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.15rem;
}

* {
    scrollbar-color: var(--corprincipal) #0d0f12;
}

body {
    font-family: "SUSE", system-ui;
    background: var(--corfundo);
    color: #e3e6e8;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--cortexto);
}

b {
    font-weight: 700;
}

.gradienteBase {
    background: #c13a5a;
    background: -webkit-linear-gradient(left, #c13a5aff 32%, #99012aff 100%);
    background: -o-linear-gradient(left, #c13a5aff 32%, #99012aff 100%);
    background: linear-gradient(to right, #c13a5aff 32%, #99012aff 100%);
}

.ocultar {
    display: none;
}

/*Ajuste de Cabeçalho*/

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding-inline: var(--espacamentocorpo);
}

.gridbase {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25rem;
}

.barraTopo {
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--tamanhocorpo);
    justify-content: space-between;
    text-transform: uppercase;
}

.logo {
    height: 4rem;
}

.logo img {
    height: 100%;
}

.menuTopo {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menuTopo li {
    padding: 0 1rem;
}

.menuTopo li:last-child {
    padding-right: 0;
}

.menuTopo a {
    display: block;
    line-height: 3rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/*Separador de conteudo*/

.separador {
    height: 2rem;
}

.separadorlargo {
    height: 5rem;
}

/*caixa de conteudo*/

.conteudo {
    width: 100%;
    max-width: var(--tamanhocorpo);
    padding: 0 var(--espacamentocorpo);
    margin: auto;
}

/*Seção de Destaque*/

.postlink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--cortexto);
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    overflow: hidden;
    /* garante que o conteúdo e o background respeitem o border-radius */
}

.postlink > span {
    text-align: center;
    font-weight: bold;
    padding: 0.3rem;
    background: var(--corprincipal);
    text-transform: capitalize;
}

.postlink > div {
    background: linear-gradient(180deg, #22222200 0%, #222222ff 100%);
    padding: 0.5rem;
}

.postlink > div > span {
    font-weight: bold;
    font-size: calc(1rem + 0.7vw);
    line-height: calc(1.7rem + 0.7vw);
}

.ultimopost > div > span {
    font-size: calc(1rem + 1.4vw);
}

.destaques {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    aspect-ratio: 2/1;
    gap: 1rem;
}

.destaques > .postlink:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

/*Outros posts*/

.categorias {
    border: 2px var(--corprincipal) solid;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.secaotitulo {
    background: var(--gradiente);
    padding-left: 0.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}

.categorias .secaotitulo {
    border-radius: 0;
    margin: 0 0 1rem;
}

.vertudo {
    background: var(--gradiente);
    display: block;
    width: fit-content;
    padding: 1rem;
    font-weight: 700;
    margin: 1rem 0 0 auto;
    border-radius: 10px;
}

.vertudo::after {
    content: " ➜";
}

.vertudo:hover {
    background: var(--corsecundaria);
}

/*lista categorias*/

.listacategorias {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 1rem;
    z-index: 2;
}

.listacategorias > li {
    text-align: center;
    flex: 1;
    margin: 0.5rem;
}

.listacategorias > li > a {
    display: block;
    padding: 0.5rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 10px;
}

/*404*/

/*Rodapé*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding-inline: var(--espacamentocorpo);
    height: 14rem;
    background: var(--gradiente);
}

.rodapetexto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--tamanhocorpo);
    padding: 0.5rem 0;
    gap: 1.5rem;
}

.rodapetexto > div {
    margin-top: 1rem;
}

.rodapetexto > div > img {
    margin-left: -10px;
    margin-bottom: -3px;
}

.rodapetexto > div > p > a {
    font-weight: 700;
}

.rodapetexto > div a > .bi {
    font-size: 0.6rem;
    vertical-align: middle;
}

.redes {
    padding: 0.5rem 0;
}

#my_centered_buttons {
    display: flex;
    justify-content: left;
}

.breadcrumb {
    display: none;
}

/*------Lista---------*/

.lista ul {
    list-style: none;
    padding: 0;
}

.capitulolink {
    display: block;
}

.capitulolink .imagemcapitulo {
    width: 100%;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--corprincipal);
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.capitulolink p {
    font-weight: 700;
    display: -webkit-box;
    /* Necessário para o line-clamp */
    -webkit-line-clamp: 2;
    /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    /* Orientação vertical */
    overflow: hidden;
    /* Esconde o excesso */
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.capitulotexto i {
    display: block;
    text-transform: capitalize;
    font-style: normal;
    padding: 0.25rem 0;
    border-bottom: 2px solid var(--corprincipal);
}

.lista ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1rem;
}

.capitulolink p {
    font-size: 1.4rem;
    align-content: flex-start;
}

#disqus_thread {
    margin-top: 1rem;
}

#img-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#img-modal img {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid var(--corprincipal);
    border-radius: 10px;
    background-color: #fff;
}

#img-modal.closeable {
    cursor: pointer;
}

.outrosposts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.outrosposts > a {
    font-weight: 700;
    margin-top: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.outrosposts > a:hover {
    text-decoration: underline;
}

.outrosposts > a > figure {
    width: 100%;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

/* ===== MOBILE ===== */

@media (max-width: 66.5rem) {
    .destaques {
        grid-template-columns: 1fr 1fr;
        aspect-ratio: initial;
        max-width: 100%;
    }

    .destaques > .postlink:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
        aspect-ratio: 5/2;
    }

    .destaques > .postlink {
        aspect-ratio: 3/2;
    }

    .lista ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridbase {
        display: flex;
        flex-wrap: wrap;
    }

    .outrosposts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 56.8rem) {
    .hamburger {
        display: block;
    }

    .menuTopo {
        display: none;
        /* escondido por padrão */
        flex-direction: column;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 100%;
        background: #c13a5a;
        background: -webkit-linear-gradient(left, #c13a5aff 32%, #99012aff 100%);
        background: -o-linear-gradient(left, #c13a5aff 32%, #99012aff 100%);
        background: linear-gradient(to right, #c13a5aff 32%, #99012aff 100%);
        z-index: 1000;
        /* garante que fica acima do conteúdo */
    }

    .menuTopo.open {
        display: flex;
        /* aparece ao abrir */
    }

    .menuTopo li {
        padding: 0;
        width: 100%;
    }

    .menuTopo a {
        display: block;
        padding: 0.75rem 1.5rem;
        text-align: right;
    }
}

@media (max-width: 35rem) {
    .destaques {
        display: flex;
        flex-wrap: wrap;
    }

    .destaques > .postlink:nth-child(1) {
        aspect-ratio: 3/2;
    }

    .destaques > .postlink {
        aspect-ratio: 3/1.7;
        width: 100%;
    }
}
