.magia {
    box-shadow: 1px 4px 14px #888888;
    background-image: url(https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg);
    border: 5px solid;
    font-size: 0.9em;
    margin-bottom: 2%;
    border-image: url("https://homebrewery.naturalcrit.com/assets/monsterBorderFancy.png") 14 round;
}

.negrito {
    font-weight: bold;
}

.magia div {
    padding: 0.5em 1em;
}

.magia div:not(:last-child) {
    border-bottom: 2px solid #c0ad6a;
}

.magiaNome h3 {
    color: #58180d;
    font-size: 1.5em;
    font-weight: bolder;
}

.magiaNome h4,
.magiaFonte {
    font-size: 0.8em;
    font-style: italic;
}

.magiaDescricao {
    background-color: #f2e5b5;
}

.magiaInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.magiaSuperior {
    font-style: italic;
    font-weight: bold;
}

@media (min-width: 901px) {
    .listaMagias {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .magia {
        display: block;
        flex: 1 1 calc(50% - 2em);
        height: fit-content;
    }
}
