.titulopostagem {
    padding: 5rem 0;
}

.titulopostagem figure {
    position: absolute;
    top: 5rem;
    left: 0;
    height: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.titulopostagem figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-position: center 50%;
}

.titulopostagem h1 {
    font-size: calc(1.7rem + 1vw);
    padding-top: 14rem;

    + span {
        a {
            color: var(--corprincipal);
            text-decoration: underline;
        }
    }
}

.texto figure {
    width: 75%;
    margin: auto;
}

.magias-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
}

.grid-magias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.carta-magia {
    width: 100%;
    border: 2px solid var(--corprincipal);
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;

    .magia-nome {
        font-variant: small-caps;
        color: var(--corprincipal);
        font-weight: bold;
        margin: -0.5rem 0;
        font-size: 1.4rem;
    }

    .ingles {
        font-variant: small-caps;
        text-transform: capitalize;
    }

    .magia-metadados {
        .nivel-escola {
            margin-bottom: 1rem;
            display: block;
        }

        .tags {
            margin-bottom: 1rem;

            .negrito {
                font-weight: bold;
            }
        }
    }

    .magia-descricao p:not(:first-child) {
        text-indent: 1rem;
    }

    .magia-upcast p {
        display: inline;
    }

    .magia-upcast-descricao {
        font-weight: bold;
        font-style: italic;
        text-indent: 1rem;
        display: inline-block;
    }

    .magia-fonte {
        margin-top: 1rem;
        font-style: italic;
    }

    .monstro {
        margin-top: 1rem;
        border: 3px double var(--corprincipal);
        border-radius: 10px !important;
        padding: 0.5rem;

        p {
            text-indent: 0 !important;
            font-size: 0.9rem;
        }

        .monstro-nome {
            font-size: 1.3rem;
            font-weight: bold;
            font-variant: small-caps;
            color: var(--corprincipal);
            border-bottom: 1px solid var(--corprincipal);
            line-height: 1.1rem;
        }

        .monstro-tipo {
            font-style: italic;
            margin-bottom: 0.5rem;
        }

        table {
            font-size: 0.8rem;
            margin: 0.5rem 0;
            border-collapse: collapse;
            width: 100%;

            tbody tr:nth-child(odd) {
                background-color: unset;
            }
        }

        th {
            color: #fff !important;
            font-weight: normal;
            font-size: 8px;
            line-height: 0.8em;
            text-align: center;
            padding: 0 0 0.2rem;
        }

        tr td {
            padding: 0.3mm 0.5mm;
            border-width: 1px 0 !important;
            text-align: center;
            color: #fff;

            &:nth-of-type(4n + 1) {
                font-weight: bold;
                font-variant: small-caps;
            }
            &:nth-of-type(4n + 2) {
                width: 8%;
            }
            &:nth-of-type(4n + 4) {
                width: 10%;
            }
        }

        tr:nth-of-type(odd) {
            td:nth-of-type(4n + 1),
            td:nth-of-type(4n + 2) {
                background-color: var(--corprincipal);
            }
            td:nth-of-type(4n),
            td:nth-of-type(4n-1) {
                background-color: var(--corsecundaria);
            }
        }
        tr:nth-of-type(even) {
            td:nth-of-type(4n + 1),
            td:nth-of-type(4n + 2) {
                background-color: var(--corprincipal);
            }
            td:nth-of-type(4n),
            td:nth-of-type(4n-1) {
                background-color: var(--corsecundaria);
            }
        }
        .monstro-acao {
            font-variant: small-caps;
            font-size: 1.2rem;
            color: var(--corprincipal);
            border-bottom: 1px solid var(--corprincipal);
            margin-top: 0.5rem;
        }

        .monstro-acao-descricao {
            margin-bottom: 0.5rem;
        }
    }

    .magia-tabela {
        break-inside: avoid;
        width: 100%;
        font-size: 0.8rem;
        margin: 0.5rem 0;

        .tabela-titulo {
            font-variant: small-caps;
            font-size: 0.9rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;

            tbody tr {
                background-color: var(--corprincipal);
                &:nth-child(odd) {
                    background-color: var(--corsecundaria);
                }
                td {
                    padding: 0.65mm 1mm;

                    &:first-child {
                        width: 1px;
                        max-width: fit-content; /* Valor mínimo possível */
                        white-space: nowrap;
                        text-align: center;
                    }
                }
            }
            thead th {
                padding: 0.65mm 1mm;
                text-align: left;

                &:first-child {
                    width: 1px;
                    max-width: fit-content; /* Valor mínimo possível */
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}

.grudar {
    position: static;
}

.filtros-magias {
    padding-right: 0.5rem;
    position: sticky;
    top: 10rem;
    max-height: 70svh;
    overflow: scroll;
    overflow-x: hidden;

    .titulo-filtros {
        background: var(--corprincipal);
        padding: 0.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        border-radius: 10px;
    }

    .subfiltro {
        width: 100%;
        padding: 0 0 0.5rem;
    }

    .filtros-selecionaveis {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .filtro-input {
        width: 100%;
        border: 1px solid var(--corprincipal);
        border-radius: 10px;
        margin-bottom: 0.5rem;
        height: 2rem;
        padding-left: 0.5rem;
    }

    .filtro-select {
        height: 2rem;
        background: var(--corprincipal);
        color: #fff;
        flex-grow: 1;
        padding-left: 0.3rem;
        border-radius: 10px;
        border: none;

        option {
            background: var(--corprincipal);
            border-radius: 10px;
        }
    }

    .filtro-booleano,
    .filtro-componentes {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        flex-wrap: wrap;

        label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            background: var(--corprincipal);
            flex-grow: 1;
            padding: 0.2rem 0.5rem;
            border-radius: 10px;
        }
    }

    .ordenacao {
        .filtro-select {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }

    button {
        height: 2.5rem;
        width: calc(50% - 0.38rem);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
    }

    .controles-impressao {
        display: inline-block;
        width: calc(50% - 0.38rem);

        .botao-imprimir {
            height: 2.5rem;
            width: 100%;
            border: none;
            cursor: pointer;
        }
    }
}

.credito {
    display: none;
    a {
        color: var(--corprincipal);
        text-decoration: underline;
    }
}

@media (max-width: 48.49rem) {
    .categoriatitulo h1 {
        font-size: 1.8rem;
    }

    .magias-container,
    .grid-magias {
        display: block;
    }

    .grid-magias {
        margin-top: 1rem;

        .carta-magia {
            margin-bottom: 1rem;
        }
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
        column-gap: 1cm;
        background: white !important;
        color: black !important;
    }

    header,
    .grudar,
    .titulopostagem span,
    .imagemrodape,
    footer,
    .separador,
    .avisomagia {
        display: none !important;
    }

    .titulopostagem {
        margin: 0 !important;
        padding: 0 !important;
    }

    .grid-magias {
        width: 100%;
        column-count: 2;
        column-fill: auto;
    }

    .carta-magia {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        border: none;
        padding: 0 0 15px !important;
        box-sizing: border-box;
        font-size: 0.8rem;
        line-height: 0.88rem;
        border-bottom: 2px solid #d3b885;

        .magia-nome {
            color: #6f1f11 !important;
            font-size: 1.3rem !important;
            line-height: 0.658cm;
            break-inside: avoid;
            margin: 0 !important;
            display: inline-block;
        }

        .ingles {
            &::before {
                content: " (";
                display: inline;
            }

            &::after {
                content: ")";
                display: inline;
            }
        }

        .magia-cabecalho {
            break-inside: avoid;

            .nivel-escola,
            .tags {
                margin-bottom: 0.5rem !important;
            }
        }

        .magia-descricao,
        .magia-upcast {
            orphans: 3;
            widows: 3;

            .monstro {
                padding: 8px 7px;
                background-image: none;
                background-color: #f4f0eb;
                border-image: none;
                border: 3px double #888;
                border-radius: 10px;
                box-shadow: 3px 3px 5px -2px rgba(136, 136, 136, 0.6);
                margin: 0.5rem -6px 0;
                width: calc(100% + 12px);
                break-inside: avoid;
                line-height: 1rem !important;

                .monstro-nome {
                    font-size: 1.3rem;
                    font-weight: bold;
                    font-variant: small-caps;
                    color: #6f1f11;
                    border-bottom: 1px solid #6f1f11;
                    line-height: 1.15rem;
                }

                .monstro-tipo {
                    font-style: italic;
                    margin-bottom: 0.5rem;
                    color: #67665f;
                }

                .monstro-tag {
                    strong {
                        color: #58180d;
                    }
                }

                table {
                    font-size: 0.7rem !important;
                    margin-bottom: 0.5rem;
                    tbody tr:nth-child(odd) {
                        background-color: unset;
                    }
                }

                th {
                    color: #67665f !important;
                    font-weight: normal;
                    font-size: 8px;
                    line-height: 0.8em;
                }

                tr td {
                    padding: 0.3mm 0.5mm;
                    border: solid white;
                    border-width: 1px 0;
                    text-align: center;
                    color: #58180d;
                }

                tr:nth-of-type(odd) {
                    td:nth-of-type(4n + 1),
                    td:nth-of-type(4n + 2) {
                        background-color: #e8e2d6;
                    }
                    td:nth-of-type(4n),
                    td:nth-of-type(4n-1) {
                        background-color: #d9d0ca;
                    }
                }
                tr:nth-of-type(even) {
                    td:nth-of-type(4n + 1),
                    td:nth-of-type(4n + 2) {
                        background-color: #d2d6ce;
                    }
                    td:nth-of-type(4n),
                    td:nth-of-type(4n-1) {
                        background-color: #cbc6c8;
                    }
                }

                .monstro-acao {
                    color: #6f1f11;
                    border-bottom: 1px solid #6f1f11;
                    line-height: 1.2rem;
                }
            }
        }

        .magia-tabela {
            font-size: 0.7rem;
            min-width: 100% !important;
            break-inside: auto;

            .tabela-titulo {
                font-size: 0.8rem;
            }

            table {
                tbody tr {
                    background-color: #f4f9fa;
                    &:nth-child(odd) {
                        background-color: #dae8ed;
                    }
                    td {
                        padding: 0.65mm 1mm;
                    }
                }
                thead th {
                    padding: 0.65mm 1mm;
                }
            }
        }
    }

    .credito {
        display: block !important;
    }

    .scroll-trigger {
        display: none;
    }

    @page {
        size: auto;
        margin: 1cm;
    }
}
