.titulopostagem {
    padding: 5rem 0;
}

.titulopostagem h1 {
    font-size: calc(1.7rem + 1vw);

    + span {
        a {
            color: var(--corprincipal);
            text-decoration: underline;
        }
    }
}

.texto figure {
    width: 75%;
    margin: auto;
}

.magias-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
}

.grid-magias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.carta-magia {
    width: 100%;
    border: 2px solid var(--corprincipal);
    padding: 1rem;
    height: fit-content;

    h4 {
        font-variant: small-caps;
        color: var(--corprincipal);
        font-weight: bold;
        margin: -0.5rem 0;
        font-size: 1.5rem;
    }

    .ingles {
        font-variant: small-caps;
    }

    .magia-metadados {
        .nivel-escola {
            margin-bottom: 1rem;
            display: block;
        }

        .tags {
            margin-bottom: 1rem;

            .negrito {
                font-weight: bold;
            }
        }
    }

    .magia-descricao p:not(:first-child) {
        text-indent: 1rem;
    }

    .magia-fonte {
        margin-top: 1rem;
        font-style: italic;
    }
}

.grudar {
    position: static;
}

.filtros-magias {
    padding-right: 0.5rem;
    position: sticky;
    top: 10rem;

    .titulo-filtros {
        background: var(--corprincipal);
        padding: 0.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .subfiltro {
        width: 100%;
        padding: 0 0 0.5rem;
    }

    .filtros-selecionaveis {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .filtro-input {
        width: 100%;
        border: 1px solid var(--corprincipal);
        margin-bottom: 0.5rem;
        height: 2rem;
        padding-left: 0.5rem;
    }

    .filtro-select {
        height: 2rem;
        background: var(--corprincipal);
        color: #fff;
        flex-grow: 1;
        padding-left: 0.3rem;

        option {
            background: var(--corprincipal);
            border: 1px solid #fff;
        }
    }

    .filtro-booleano,
    .filtro-componentes {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        flex-wrap: wrap;

        label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            background: var(--corprincipal);
            flex-grow: 1;
            padding: 0.2rem 0.5rem;
        }
    }

    .ordenacao {
        .filtro-select {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }

    button {
        height: 2.5rem;
        width: calc(50% - 0.38rem);
        border: none;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
    }

    .controles-impressao {
        display: inline-block;
        width: calc(50% - 0.38rem);

        .botao-imprimir {
            height: 2.5rem;
            width: 100%;
            border: none;
            cursor: pointer;
        }
    }
}

.credito {
    display: none;
    a {
        color: var(--corprincipal);
        text-decoration: underline;
    }
}

@media (max-width: 48.49rem) {
    .categoriatitulo h1 {
        font-size: 1.8rem;
    }

    .magias-container,
    .grid-magias {
        display: block;
    }

    .grid-magias {
        margin-top: 1rem;

        .carta-magia {
            margin-bottom: 1rem;
        }
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
        column-gap: 1cm;
        background: white !important;
        color: black !important;
    }

    header,
    .grudar,
    .titulopostagem span,
    .imagemrodape,
    footer,
    .separador {
        display: none !important;
    }

    .titulopostagem {
        margin: 0 !important;
        padding: 0 !important;
    }

    .grid-magias {
        width: 100%;
        column-count: 2;
        column-fill: auto;
    }

    .carta-magia {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        border: none;
        padding: 0 !important;
        box-sizing: border-box;

        h4 {
            color: #6f1f11 !important;
            font-size: 1.3rem !important;
            line-height: 0.658cm;
            break-inside: avoid;
            margin: 0 !important;
            display: inline-block;
        }

        .ingles {
            &::before {
                content: " (";
                display: inline;
            }

            &::after {
                content: ")";
                display: inline;
            }
        }

        .magia-cabecalho {
            break-inside: avoid;

            .nivel-escola,
            .tags {
                margin-bottom: 0.5rem !important;
            }
        }

        .magia-descricao {
            orphans: 3;
            widows: 3;
        }

        .magia-fonte {
            border-bottom: 2px solid #d3b885;
        }
    }

    .credito {
        display: block !important;
    }

    @page {
        size: auto;
        margin: 1cm;
    }
}
