.categoriatitulo {
    padding: 4rem 0;
}

.categoriatitulo h1 {
    text-transform: capitalize;
    text-align: center;
}

figure > figcaption {
    text-align: center;
    font-weight: 700;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.lista ul {
    list-style: none;
    padding: 0;
    border-top: 2px solid var(--corprincipal);
}

.capitulolink {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 2px solid var(--corprincipal);
    height: 100%;
}

.capitulolink .imagemcapitulo {
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--corprincipal);
    aspect-ratio: 1/1;
}

.capitulolink p {
    display: block;
    font-size: 1.2rem;
    align-content: center;
    font-weight: 700;
}

@media (min-width: 59.9rem) {
    .lista ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .capitulolink p {
        font-size: 1.4rem;
        align-content: flex-start;
    }
}
