h1 {
    font-size: 3rem;
}

.equipe {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.membro {
    display: flex;
    flex: 1;
    padding: 1rem;
    gap: 1em;
    border-radius: 10px;
    justify-content: flex-start;
}

.membro figure {
    height: 7rem;
    aspect-ratio: 1/1;
}

.agradecimentos figure {
    height: 8rem;
}

.membro figure > img {
    height: 100%;
    border-radius: 10px;
}

.membroinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 7rem;
}

.nome {
    font-size: 1.7rem;
    font-weight: 700;
}

.cargo {
    font-style: italic;
}

.membroredes {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.membroredes > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--corfundo);
    padding: 0.5rem;
    border-radius: 10px;
}

.membroredes > a > img {
    height: 1.5rem;
    color: var(--cortexto);
}

.parceiros {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.parceiros a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: calc(20% - 0.8rem);
    border-radius: 10px;
    text-align: center;
}

.parceiros a figure {
    width: 100%;
    aspect-ratio: 1/1;
    align-content: center;
    background: var(--corfundo);
    overflow: hidden;
    border-radius: 10px;
}

.parceiros a figure img {
    width: 100%;
}

@media (max-width: 41.5rem) {
    .parceiros a {
        width: calc(50% - 1rem);
    }
}

.secaotitulo {
    border-radius: 10px;
}