---
layout: padrao
title: 'Dungeons &#38; Dragons 2024'
descricao: 'Lista de projetos de Dungeons &#38; Dragons 2024 da Simple Skans!'
permalink: /dnd/2024/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<div class="categoriatitulo">
    <p>Todas as postagens de</p>
    <h1>Dungeons &#38; Dragons 2024 Edição</h1>
</div>
<div class="corpo" style="display: block">
    <div class="ladoE">
        <nav class="postagensquadro">
            {% assign c = site.tags.e55 | slice: 0, 7 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.autorL }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <div class="separador"></div>
    </div>
</div>
<div class="lista">
    <ul>
        {% for post in site.tags.e55 %} {% unless post == site.tags.e55[0] or post == site.tags.e55[1] or post ==
        site.tags.e55[2] or post == site.tags.e55[3] or post == site.tags.e55[4] or post == site.tags.e55[5] or post ==
        site.tags.e55[6] %}
        <li>
            <a class="capitulolink" href="{{ post.url }}" title="{{ post.title }}">
                <span class="imagemcapitulo" style="background-image:  url({{ post.capa }});"></span>
                <div class="capitulotexto">
                    <i>{{ post.autorL }}</i>
                    <p>{{ post.title }}</p>
                    <span>{{ post.resumo }}<br /></span>
                </div>
            </a>
        </li>
        {% endunless %} {% endfor %}
    </ul>
</div>
