---
layout: padrao
title: 'Dungeons &#38; Dragons 5ª Edição'
descricao: 'Lista de projetos de Dungeons &#38; Dragons 5ª Edição da Simple Skans!'
permalink: /dnd/5e/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<div class="categoriatitulo">
    <p>Todas as postagens de</p>
    <h1>Dungeons &#38; Dragons 5ª Edição</h1>
</div>
<div class="corpo" style="display: block">
    <div class="ladoE">
       
       <h2 class="secaotitulo"><i class="bi bi-person-fill-up"></i> Filtrar por Nível:</h2>
        <div class="level-filters">
            <label class="filter-option">
                <input type="radio" name="level-filter" value="todos" checked />
                <span>Todos</span>
            </label>
            {% for i in (1..20) %}
            <label class="filter-option">
                <input type="radio" name="level-filter" value="lvl{{i}}" />
                <span>{{i}}º Nível</span>
            </label>
            {% endfor %}
        </div>

        <!-- Lista de posts (modificada) -->
        <div class="lista">
            <ul id="posts-container">
                {% for post in site.tags.e5 %}
                <li class="post-item" data-tags="{{ post.tags | join: ',' }}">
                    <a class="capitulolink" href="{{ post.url }}" title="{{ post.title }}">
                        <span class="imagemcapitulo" style="background-image: url({{ post.capa }});"></span>
                        <div class="capitulotexto">
                            <i>{{ post.autorL }}</i>
                            <p>{{ post.title }}</p>
                            <span>{{ post.resumo }}<br /></span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <script src="/js/filtro.js"></script>
    </div>
</div>
