---
layout: padrao
title: "Dungeons &#38; Dragons 5ª Edição"
descricao: "Lista de projetos de Dungeons &#38; Dragons 5ª Edição da Simple Skans!"
permalink: /dnd/5e/
capa: dnd
poscapa: 80
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<script src="/js/filtroposts.js"></script>
<div class="categoriatitulo">
    <p>Todas as traduções de</p>
    <h1>Dungeons &#38; Dragons 5ª Edição</h1>
</div>
<figure class="imagemcapa">
    <img src="/img/postcapa/{{ page.capa }}.jpg" alt="" class="capasll" style="object-position: center {{ page.poscapa }}%" />
</figure>
<div class="gridbase">
    <div class="filtros">
        <button class="filtro-btn active" data-categoria="todos">Todos</button>
        {% for i in (1..20) %}
        <button class="filtro-btn" data-categoria="lvl{{i}}">{{i}}º Nível</button>
        {% endfor %}
    </div>

    <div class="lista">
        <ul>
            {% for post in site.tags.e5 %}
            <li class="post-item {{ post.tags | join: ' ' }}">
                {% assign subtexto = post.autorL %} {% include capitulolink.html post=post subtexto=subtexto %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
