---
layout: padrao
title: "Traduções Beyond"
descricao: "Lista de projetos de Traduções Beyond da Simple Skans!"
permalink: /dnd/beyond/
capa: "logoColorido"
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<script src="/js/filtroposts.js"></script>
<div class="categoriatitulo">
    <p>Todas as postagens de</p>
    <h1>Traduções Beyond</h1>
    <p>Em ordem de ID</p>
</div>
<div class="gridbase">
    <div class="filtros">
        <button class="filtro-btn active" data-categoria="todos">Todos</button>
        {% for i in (1..20) %}
        <button class="filtro-btn" data-categoria="lvl{{i}}">{{i}}º Nível</button>
        {% endfor %}
    </div>

    <div class="lista">
        <ul>
            {% for post in site.categories.beyond %}
            <li class="post-item {{ post.tags | join: ' ' }}">
                {% assign subtexto = post.autorL %} {% include capitulolink.html post=post subtexto=subtexto %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
