---
layout: padrao
title: 'Dungeons & Dragons'
descricao: 'Lista de projetos de D&D da Simple Skans!'
permalink: /dnd/
capa: 'https://simpleskans.com.br/img/logoColorido.png'
---

<section class="paginaDnD">
    <div class="tituloArtigo gradienteBase">
        <h1>Projetos de Dungeons &#38; Dragons</h1>
        <p>Todos os projetos relacionados a D&#38;D feitos pela Simple Skans</p>
    </div>
    <div class="esquerda">
        <div class="tituloSecao">
            <p class="gradienteBase">
                <i class="fa-solid fa-chess-rook"></i>
            </p>
            <h2>Projetos de D&#38;D</h2>
        </div>
        <div class="listaSecundaria">
            {% for post in site.categories.DnD %}
            <a
                class="postCaixa3"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <p class="postCategoria3 gradienteBase">{{ post.categories | join: '/' | replace: '-', ' '}}</p>
                <div class="postTexto3">
                    <p class="postData3"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
                    <h3 class="postTitulo3">{{ post.title }}</h3>
                    <p class="postDescricao3">{{ post.descricao }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <aside class="direita">
        <div class="tituloSecao">
            <p class="gradienteBase">
                <i class="fa-solid fa-arrow-trend-up"></i>
            </p>
            <h2>Aventuras por Nível</h2>
        </div>
        <ul class="listaNivel">
            <li>
                <!--&#9656; -->
                <h3>&#9662; Nível 1 ({{ site.tags.lvl1 | size }})</h3>
                <ul>
                    {% assign alfabetica = site.tags.lvl1 | sort_natural %}
                    {% for post in alfabetica %}
                    <li>
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            <h4 class="">&#9656; {{ post.title }}</h4>
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </li>
            <li>
                <h3>&#9662; Nível 2 ({{ site.tags.lvl2 | size }})</h3>
                <ul>
                    {% assign alfabetica = site.tags.lvl2 | sort_natural %}
                    {% for post in alfabetica %}
                    <li>
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            <h4 class="">&#9656; {{ post.title }}</h4>
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </li>
            <li>
                <h3>&#9662; Nível 3 ({{ site.tags.lvl3 | size }})</h3>
                <ul>
                    {% assign alfabetica = site.tags.lvl3 | sort_natural %}
                    {% for post in alfabetica %}
                    <li>
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            <h4 class="">&#9656; {{ post.title }}</h4>
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </li>
        </ul>
    </aside>
</section>
<section class="construcao">
    <p>🚧 Seção em Construção 🚧</p>
</section>
