---
layout: padrao
title: Home
descricao: Simple Skans! Localizando conteúdo para que todos possam acessar!
capa: 'https://simpleskans.com.br/img/logoColorido.png'
---
<div class="ocultar">
      <h1>Simple Skans Traduções</h1>
  </div>
   <div class="ocultar">
            <h2>Posts recentes</h2>
        </div>
    <main class="postsDestaque">
     {% assign c = site.posts | slice: 0, 3 %}
     {% for post in c %}
<a class="postCaixa" style="background-image:  url({{ post.capa }});" href="{{ post.url }}" title="{{ post.title }}">
            <p class="postCategoria gradienteBase">{{ post.categories | join: '/' | replace: '-', ' '}}</p>
            <div class="postTexto">
            <p class="postData"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
            <h3 class="postTitulo">{{ post.title }}</h3>
            <p class="postDescricao">{{ post.resumo }}</p>
          </div>
      </a>
{% endfor %}
      </main>
      <div class="tituloSecao centralizar">
            <p class="gradienteBase">
                <i class="fa-solid fa-square-rss"></i>
            </p>
            <h2>Outros Posts</h2>
        </div>
      <section class="postsResto">
      {% assign c = site.posts | slice: 3, 9 %}
     {% for post in c %}
     <a class="postCaixa2" href="{{ post.url }}" title="{{ post.title }}">
        <figure><img src="{{ post.capa }}" alt="{{ post.title }}"/>
             </figure>
          <p class="postCategoria2 gradienteBase">{{ post.categories | join: '/' | replace: '-', ' '}}</p>
          <div class="postTexto2">
           <p class="postData2"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
            <h3 class="postTitulo2">{{ post.title }}</h3>
            <p class="postDescricao2">{{ post.resumo }}</p>
            </div>
     
          </a>
     {% endfor %}
      </section>
      <div class="tituloSecao centralizar">
            <p class="gradienteBase">
                <i class="fa-solid fa-tags"></i>
            </p>
            <h2>Todas as Categorias</h2>
        </div>
        <section class="listaCategorias">
           {% for categoria in site.categories %}
            <a href="{{ site.url }}/{{ categoria | first }}/" class="categoriaLink gradienteBase"><h4>{{ categoria | first | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'DnD', 'D&#38;D'}}</h4></a>
            {% endfor %}
        </section>
      <div class="tituloSecao centralizar">
            <p class="gradienteBase">
                <i class="fa-solid fa-users"></i>
            </p>
            <h2>Parceiros</h2>
        </div>
        <section class="parceiros gradienteBase">
      <div class="listaParceiros">
           {% for membro in site.data.membros %}
           <div style="background: url('{{ membro.imagem }}')
        no-repeat 50% / cover;">
    <div class="dadosParceiro">
      <h3>{{ membro.nome }}</h3>
      <span>{{ membro.cargo }}</span>
    </div>
  </div>
         {% endfor %}   
            </div>
      </section>


