---
layout: padrao
title: "Sobre"
descricao: "Uma olhadinha rápida naqueles que tornam possível a construção deste projeto!"
permalink: /sobre/
capa: "logoColorido"
csscustomizado: <link rel="stylesheet" href="/css/sobre.css" />

equipe:
  - nome: "KryFi"
    cargo: "Líder"
    img: "/img/parceiros/KryFi.png"
  - nome: "Talude"
    cargo: "Tradutor e Revisor"
    img: "/img/parceiros/Talude.jpg"
  - nome: "IrisBlinx"
    cargo: "Tradutora e Redrawer de Smash Legends / Líder da Determination"
    img: "/img/parceiros/IrisBlinx.png"
  - nome: "Amoraisw"
    cargo: "Tradutora e Redrawer de Smash Legends / Líder da Determination"
    img: "/img/parceiros/Amora.png"

ex_membros:
  - nome: "FênixFúria"
    cargo: "Cofundador da Simple Skans, Ex Redrawer e Ex Tradutor"
    img: "/img/parceiros/FenixFuria.png"
  - nome: "Vitoreba"
    cargo: "Cofundador da seção de D&D e Ex Revisor"
    img: "/img/parceiros/Vitor.png"
  - nome: "Capeletti"
    cargo: "Ex tradutor de Smash Legends"
    img: "/img/parceiros/Capeletti.png"
  - nome: "Tiovski"
    cargo: "Ex tradutor de Smash Legends"
    img: "/img/parceiros/Tiovski.png"
  - nome: "Alchemisia"
    cargo: "Ex tradutor de Smash Legends"
    img: "/img/parceiros/Alchemisia.png"
  - nome: "LokomBR"
    cargo: "Ex Revisor de D&D"
    img: "/img/parceiros/LokomBR.jpg"
  - nome: "RodiRage"
    cargo: "Edições Gráficas"
    img: "/img/parceiros/RodiRAGE.jpg"
  - nome: "Veddartha"
    cargo: "Diagramador"
    img: "/img/parceiros/Veddartha.jpeg"
  - nome: "Anonimus"
    cargo: "Revisor"
    img: "/img/parceiros/anonimus.png"
    
agradecimentos:
  - nome: "Faren"
    cargo: "Administrador e Redator da Artíficio RPG"
    img: "/img/parceiros/Faren.png"
  - nome: "Hareon"
    cargo: "Líder da E4T"
    img: "/img/parceiros/Hareon.png"
  - nome: "ㄴLucasㄱ"
    cargo: "Líder da ㄴZerøㄱ"
    img: "/img/parceiros/Lucas.png"
  - nome: "Taihen"
    cargo: "Líder do Taihen's Hextinkers e especialista em NES/SNES"
    img: "/img/parceiros/Taihen.png"
  - nome: "Breno"
    cargo: "Especialista em GBA"
    img: "/img/parceiros/Breno.png"
  - nome: "Fenhir"
    cargo: "Narrador de RPG e criador de Contos Condenados"
    img: "/img/parceiros/Fenhir.png"
  - nome: "Fentanyyl"
    cargo: "Mestre e Criador de Domínios da Morte"
    img: "/img/parceiros/Fentanyyl.jpg"
  - nome: "Raava"
    cargo: "Jogador de Domínios da Morte"
    img: "/img/parceiros/Raava.png"
  - nome: "Miminho"
    cargo: "Jogador de Domínios da Morte"
    img: "/img/parceiros/Miminho.jpg"
  - nome: "MeioKilo"
    cargo: "Jogador de Domínios da Morte"
    img: "/img/parceiros/MeioKilo.jpg"
  - nome: "Yan"
    cargo: "Jogador de Domínios da Morte"
    img: "/img/parceiros/Yan.jpg"

parceiros:
  - nome: "Artifício RPG"
    img: "/img/parceiros/AR.jpeg"
    link: "https://artificiorpg.com/"
  - nome: "Talude Traduções"
    img: "/img/parceiros/taludetradu.png"
    link: ""
  - nome: "Heróis Anônimos"
    img: "/img/parceiros/HA.png"
    link: "https://sites.google.com/view/heroisanonimos/"
  - nome: "ㄴZerøㄱ"
    img: "/img/parceiros/zero.gif"
    link: "https://discord.com/invite/9eEesduHNF"
  - nome: "Determination"
    img: "/img/parceiros/dtt.jpg"
    link: ""
  - nome: "Domínios da Morte"
    img: "/img/parceiros/DoD.png"
    link: "#"
  - nome: "Elite dos Quatro Traduções"
    img: "/img/parceiros/e4t.png"
    link: "https://e4t.com.br/"
  - nome: "Taihen's Hextinkers"
    img: "/img/parceiros/hextinkers.png"
    link: "https://hextinkers.org/"
  - nome: "Baile de Taverna"
    img: "/img/parceiros/bdt.jpeg"
    link: "https://linktr.ee/Bailedetaverna"
  - nome: "Biblioteca Dungeons &amp; Dragons"
    img: "/img/parceiros/bibliotecadnd.jpg"
    link: "#"
  - nome: "Toca do Fenhir"
    img: "/img/parceiros/Fenhir.png"
    link: "#"
---


<h1>Sobre a Simple Skans</h1>
<p>Uma olhadinha rápida naqueles que tornam possível a construção deste projeto!</p>

<div class="separador"></div>
<h2 class="secaotitulo"><i class="bi bi-diagram-3-fill"></i> Equipe</h2>
<section class="equipe">
    {% for membro in page.equipe %}
    <div class="membro gradienteBase">
        <figure><img src="{{ membro.img }}" alt="Foto de Perfil de {{ membro.nome }}" /></figure>
        <div class="membroinfo">
            <span class="nome">{{ membro.nome }}</span>
            <span class="cargo">{{ membro.cargo }}</span>
        </div>
    </div>
    {% endfor %}
</section>

<div class="separador"></div>
<h2 class="secaotitulo"><i class="bi bi-box-arrow-right"></i> Ex-Membros</h2>
<section class="equipe agradecimentos">
    {% for membro in page.ex_membros %}
    <div class="membro gradienteBase">
        <figure><img src="{{ membro.img }}" alt="Foto de Perfil de {{ membro.nome }}" /></figure>
        <div class="membroinfo">
            <span class="nome">{{ membro.nome }}</span>
            <span class="cargo">{{ membro.cargo }}</span>
        </div>
    </div>
    {% endfor %}
</section>

<div class="separador"></div>
<h2 class="secaotitulo"><i class="bi bi-emoji-laughing-fill"></i> Agradecimentos Especiais</h2>
<section class="equipe agradecimentos">
    {% for membro in page.agradecimentos %}
    <div class="membro gradienteBase">
        <figure><img src="{{ membro.img }}" alt="Foto de Perfil de {{ membro.nome }}" /></figure>
        <div class="membroinfo">
            <span class="nome">{{ membro.nome }}</span>
            <span class="cargo">{{ membro.cargo }}</span>
        </div>
    </div>
    {% endfor %}
</section>

<div class="separador"></div>
<h2 class="secaotitulo"><i class="bi bi-people-fill"></i> Parceiros</h2>
<section class="parceiros">
    {% for parceiro in page.parceiros %}
    <a href="{{ parceiro.link }}" class="membroparceiro gradienteBase">
        <figure><img src="{{ parceiro.img }}" alt="Logo de {{ parceiro.nome }}" /></figure>
        <span>{{ parceiro.nome }}</span>
    </a>
    {% endfor %}
</section>
