---
layout: padrao
title: 'Dungeons &#38; Dragons'
descricao: 'Lista de projetos de Dungeons &#38; Dragons da Simple Skans!'
permalink: /dnd/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

{% assign current_cat = page.url | split: "/" | last %}
<div class="categoriatitulo">
    <p>Todas as postagens na categoria</p>
    <h1>{{ current_cat | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons'}}</h1>
</div>
<section class="categorias">
    <h2 class="secaotitulo"><i class="bi bi-tags-fill"></i> Acesso Rápido</h2>
    <ul class="listacategorias">
        <li>
            <a href="/dnd/5e/" class="gradienteBase"
                >D&amp;D 5ª Edição</a
            >
        </li>
        <li>
            <a href="/dnd/2024/" class="gradienteBase"
                >D&amp;D 2024</a
            >
        </li>
        <li>
            <a href="/dnd/5e/magias" class="gradienteBase"
                >Lista de Magias 5e</a
            >
        </li>
        <li>
            <a href="/dnd/2024/magias" class="gradienteBase"
                >Lista de Magias 2024</a
            >
        </li>
    </ul>
</section>
<div class="separador"></div>
<div class="corpo" style="display: block">
    <div class="ladoE">
        <h3 id="webtoons" class="secaotitulo"><i class="bi bi-dice-5"></i> Destaques 5ª Edição</h3>
        <nav class="postagensquadro">
            {% assign c = site.tags.e5 | slice: 0, 2 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.autorL }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <a href="/dnd/5e/" class="acessarcategoria">Ver Tudo <i class="bi bi-arrow-right"></i></a>
        <div class="separador"></div>
    </div>
</div>

<div class="corpo" style="display: block">
    <div class="ladoE">
        <h3 id="pass" class="secaotitulo"><i class="bi bi-dice-6"></i> Destaques D&#38;D 2024</h3>
        <nav class="postagensquadro">
            {% assign c = site.tags.e55 | slice: 0, 2 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.autorL }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <a href="/dnd/2024/" class="acessarcategoria">Ver Tudo <i class="bi bi-arrow-right"></i></a>
        <div class="separador"></div>
    </div>
</div>

<div class="corpo" style="display: block">
    <div class="ladoE">
        <h3 id="novels" class="secaotitulo"><i class="bi bi-dice-3"></i> Destaques 3ª Edição</h3>
        <nav class="postagensquadro">
            {% assign c = site.tags.e3 | slice: 0, 2 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.autorL }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <a href="" class="acessarcategoria">Ver Tudo <i class="bi bi-arrow-right"></i></a>
        <div class="separador"></div>
    </div>
</div>

