---
layout: padrao
title: 'Dungeons &#38; Dragons'
descricao: 'Lista de projetos de Dungeons &#38; Dragons da Simple Skans!'
permalink: /dnd/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

{% assign current_cat = page.url | split: "/" | last %}
<div class="categoriatitulo">
    <p>Todas as postagens na categoria</p>
    <h1>{{ current_cat | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons'}}</h1>
</div>
<div class="corpo">
    <div class="ladoE">
        <nav class="postagensquadro">
            {% assign c = site.categories[current_cat] | slice: 0, 7 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.autorL }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <div class="separador"></div>
        
    </div>
    <div class="ladoD">
        <nav class="listatags">
            <h3>Aventuras por nível</h3>
            <ul>
                <li>
                    <details>
                        <summary>Nível 1 ({{ site.tags.lvl1 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl1 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 2 ({{ site.tags.lvl2 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl2 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 3 ({{ site.tags.lvl3 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl3 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 4 ({{ site.tags.lvl4 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl4 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 5 ({{ site.tags.lvl5 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl5 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 6 ({{ site.tags.lvl6 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl6 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 7 ({{ site.tags.lvl7 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl7 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 8 ({{ site.tags.lvl8 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl8 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 9 ({{ site.tags.lvl9 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl9 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 10 ({{ site.tags.lvl10 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl10 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 16 ({{ site.tags.lvl16 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl16 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details>
                        <summary>Nível 20 ({{ site.tags.lvl20 | size }})</summary>
                        {% assign alfabetica = site.tags.lvl20 | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
            </ul>
        </nav>
    </div>
    
</div>
<div class="lista">
            <ul>
                {% for post in site.categories[current_cat] %} {% unless post == site.categories[current_cat][0] or post
                == site.categories[current_cat][1] or post == site.categories[current_cat][2] or post ==
                site.categories[current_cat][3] or post == site.categories[current_cat][4] or post ==
                site.categories[current_cat][5] or post == site.categories[current_cat][6] %}
                <li>
                    <a class="capitulolink" href="{{ post.url }}" title="{{ post.title }}">
                        <span class="imagemcapitulo" style="background-image:  url({{ post.capa }});"></span>
                        <div class="capitulotexto">
                            <i
                                >{{ post.autorL }}</i
                            >
                            <p>{{ post.title }}</p>
                            <span>{{ post.resumo }}<br /></span>
                        </div>
                    </a>
                </li>
                {% endunless %} {% endfor %}
            </ul>
        </div>
