---
layout: padrao
title: 'Jogos'
descricao: 'Lista de projetos de Localização de Jogos da Simple Skans!'
permalink: /jogos/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

{% assign current_cat = page.url | split: "/" | last %}
<div class="categoriatitulo">
    <p>Todas as postagens na categoria</p>
    <h1>{{ current_cat | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons'}}</h1>
</div>
<div class="corpo">
    <div class="ladoE">
        <nav class="postagensquadro">
            {% assign c = site.categories[current_cat] | slice: 0, 7 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.tags | join: '/' | replace: '-', ' ' | replace: 'gba', 'GBA' | replace: 'nes', 'NES' }}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <div class="separador"></div>
        <div class="lista">
            <ul>
                {% for post in site.categories[current_cat] %} {% unless post == site.categories[current_cat][0] or post
                == site.categories[current_cat][1] or post == site.categories[current_cat][2] or post ==
                site.categories[current_cat][3] or post == site.categories[current_cat][4] or post ==
                site.categories[current_cat][5] or post == site.categories[current_cat][6] %}
                <li>
                    <a class="capitulolink" href="{{ post.url }}" title="{{ post.title }}">
                        <span class="imagemcapitulo" style="background-image:  url({{ post.capa }});"></span>
                        <div class="capitulotexto">
                            <i
                                >{{ post.autorL }}</i
                            >
                            <p>{{ post.title }}</p>
                            <span>{{ post.resumo }}<br /></span>
                        </div>
                    </a>
                </li>
                {% endunless %} {% endfor %}
            </ul>
        </div>
    </div>
    <div class="ladoD">
        <nav class="listatags">
            <h3>Traduções por Sistema</h3>
            <ul>
                <li>
                    <details open>
                        <summary>NES ({{ site.tags.nes | size }})</summary>
                        {% assign alfabetica = site.tags.nes | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                <li>
                    <details open>
                        <summary>GBA ({{ site.tags.gba | size }})</summary>
                        {% assign alfabetica = site.tags.gba | sort_natural %} {% for post in alfabetica %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
            </ul>
        </nav>
    </div>
</div>
