---
layout: padrao
title: Posts
descricao: Lista com todas as postagens da Simple Skans!
permalink: /posts/
capa: 'img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<div class="categoriatitulo">
    <p>Todas as postagens da</p>
    <h1>Simple Skans</h1>
</div>
<div class="corpo">
    <div class="ladoE">
        <nav class="postagensquadro">
            {% assign c = site.posts | slice: 0, 7 %} {% for post in c %}
            <a
                class="postlink"
                style="background-image:  url({{ post.capa }});"
                href="{{ post.url }}"
                title="{{ post.title }}">
                <span>{{ post.categories | join: '/' | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons
            &#38; Dragons'}}</span>
                <div>
                    <span>{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                </div>
            </a>

            {% endfor %}
        </nav>
        <div class="separador"></div>
        <div class="categoriarestantes">
            {% for post in site.posts %} {% unless post == site.posts[0] or post == site.posts[1] or post ==
            site.posts[2] or post == site.posts[3] or post == site.posts[4] or post == site.posts[5] or post ==
            site.posts[6] %}
            <a class="linkrestante" href="{{ post.url }}" title="{{ post.title }}">
                <figure style="background-image:  url({{ post.capa }});"></figure>
                <div>
                    <span class="titulorestante">{{ post.title }}</span>
                    <p>{{ post.resumo }}</p>
                    <span><i>{{ post.categories | join: '/' | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons
            &#38; Dragons'}}</i></span>
                </div>
            </a>
            {% endunless %} {% endfor %}
        </div>
    </div>
    <div class="ladoD">
        <nav class="listatags">
            <h3>Postagens por Categoria</h3>
            <ul>
                {% for categoria in site.categories %}
                <li>
                    <details>
                        <summary>
                            {{ categoria | first | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons
                            &#38; Dragons'}} ({{ categoria | last | size }})
                        </summary>
                        {% for post in categoria.last %}
                        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% endfor %}
                    </details>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
