---
layout: padrao
title: Posts
descricao: Lista com todas as postagens da Simple Skans!
permalink: /posts/
capa: 'https://simpleskans.com.br/img/logoColorido.png'
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

{% include breadcrumbs.html %}
<section>
    <div class="tituloArtigo gradienteBase">
        <h1>Todos os Posts</h1>
        <p>Lista com todos os posts do site</p>
    </div>
    <div class="tituloSecao">
        <p class="gradienteBase">
            <i class="fa-solid fa-chess-rook"></i>
        </p>
        <h2>Mais Recentes</h2>
    </div>
    <div class="categoriaPostsGrid">
        {% assign c = site.posts | slice: 0, 6 %}
        {% for post in c %}
        <a
            class="categoriaCaixa"
            style="background-image:  url({{ post.capa }});"
            href="{{ post.url }}"
            title="{{ post.title }}">
            <div class="categoriaCategoria gradienteBase">
                <span class="capitalizar">{{ post.categories | join: '/' | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'DnD', 'D&#38;D'  }}</span>
            </div>
            <div class="categoriaTexto">
                <p class="categoriaData"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
                <h3 class="categoriaTitulo">{{ post.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="tituloSecao">
        <p class="gradienteBase">
            <i class="fa-solid fa-chess-rook"></i>
        </p>
        <h2>Mais Antigos</h2>
    </div>
    <div class="categoriaPostsFlex">
        {% for post in site.posts %}
        {% unless post == site.posts[0] or post == site.posts[1] or post == site.posts[2] or post == site.posts[3] or post == site.posts[4] or post == site.posts[5] %}
        <a
            class="categoriaCaixa"
            style="background-image:  url({{ post.capa }});"
            href="{{ post.url }}"
            title="{{ post.title }}">
            <div class="categoriaCategoria gradienteBase">
                <span class="capitalizar">{{ post.categories | join: '/' | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'DnD', 'D&#38;D' }}</span>
            </div>
            <div class="categoriaTexto">
                <p class="categoriaData"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
                <h3 class="categoriaTitulo">{{ post.title }}</h3>
            </div>
        </a>
        {% endunless %}
        {% endfor %}
    </div>
</section>
