---
layout: padrao
title: "Smash Legends"
descricao: "Lista de traduções de Smash Legends da Simple Skans!"
permalink: /smash-legends/
capa: "sll"
poscapa: 30
csscustomizado: <link rel="stylesheet" href="/css/categoria.css" />
---

<div class="categoriatitulo">
    <p>Todas as webtoons e novels traduzidas de</p>
    <h1>Smash Legends</h1>
</div>
<figure class="imagemcapa">
    <img src="/img/postcapa/sl.jpg" alt="" class="capasll" style="object-position: center {{ page.poscapa }}%" />
</figure>
<section class="categorias">
    <h2 class="secaotitulo"><i class="bi bi-tags-fill"></i> Acesso Rápido</h2>
    <ul class="listacategorias">
        <li>
            <a href="/smash-legends/slw/" class="gradienteBase">Webtoons/HQs</a>
        </li>
        <li>
            <a href="/smash-legends/slsp/" class="gradienteBase">Passes Smash</a>
        </li>
        <li>
            <a href="/smash-legends/sln/" class="gradienteBase">Novels</a>
        </li>
    </ul>
</section>
<div>
    <div>
        <h3 id="webtoons" class="secaotitulo"><i class="bi bi-journal-richtext"></i> Webtoons</h3>
        <nav class="lista">
            <ul>
                {% assign posts_slice = site.tags.slw | slice: 0, 6 %} {% for post in posts_slice %} {% assign subtexto
                = post.autorL %} {% include capitulolink.html post=post subtexto=subtexto %} {% endfor %}
            </ul>
        </nav>
        <a href="/smash-legends/slw/" class="vertudo">Ver Tudo</a>
        <div class="separador"></div>
    </div>
</div>

<div>
    <div>
        <h3 id="pass" class="secaotitulo"><i class="bi bi-journal"></i> Passe Smash</h3>
        <nav class="lista">
            <ul>
                {% assign posts_slice = site.tags.slsp | slice: 0, 6 %} {% for post in posts_slice %} {% assign subtexto
                = post.autorL %} {% include capitulolink.html post=post subtexto=subtexto %} {% endfor %}
            </ul>
        </nav>
        <a href="/smash-legends/slsp/" class="vertudo">Ver Tudo</a>
        <div class="separador"></div>
    </div>
</div>

<div>
    <div>
        <h3 id="novels" class="secaotitulo"><i class="bi bi-journal-text"></i> Novels</h3>
        <nav class="lista">
            <ul>
                {% assign posts_slice = site.tags.sln | slice: 0, 6 %} {% for post in posts_slice %} {% assign subtexto
                = post.autorL %} {% include capitulolink.html post=post subtexto=subtexto %} {% endfor %}
            </ul>
        </nav>
        <a href="/smash-legends/sln/" class="vertudo">Ver Tudo</a>
        <div class="separador"></div>
    </div>
</div>
