<div id="breadcrumbs">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<span href="/">Home</span>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    &gt; {{ page.title }}
  {% else %}
    &gt; <span href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | upcase }}</span>
  {% endif %}
{% endfor %}
</div>