<!doctype html>
<html lang="pt-BR">
    <head>
        <title>{{ page.title }} | Simple Skans</title>
        <meta
            name="description"
            content="{{ page.descricao }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6Q368P6MR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C6Q368P6MR');
</script>

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta
            property="og:description"
            content="{{ page.descricao }}" />
        <meta
            property="og:image"
            content="{{ site.url }}/img/logoColorido.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="simpleskans.com.br" />
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta
            name="twitter:description"
            content="{{ page.descricao }}" />
        <meta
            name="twitter:image"
            content="{{ site.url }}/img/logoColorido.png" />

        <!--Schema Tags-->
       
        <!--Favicon tags-->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c13a5a" />
        <meta name="msapplication-TileColor" content="#c13a5a" />
        <meta name="theme-color" content="#c13a5a" />
        <!--Head tags-->

        <script src="https://kit.fontawesome.com/8767d1d5a5.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/estilo.css" />
        {{page.csscustomizado}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <meta name="author" content="KryFi" />
    </head>
    <body>
        <nav class="barraFlutuante gradienteBase">
            <div class="imagemSite">
                <a href="{{ site.url }}">
                    <img src="/img/logo.png" alt="Simple Skans" />
                </a>
            </div>
            <div id="menuSuperior">
                <a href="/projetos/" title="Todos os Projetos">Projetos</a>
                <a href="/rom-hacking/" title="Traduções de ROMs">ROM Hacking</a>
                <a href="/dnd/" title="Tradções de D&D">D&#38;D</a>
                <a href="/smash-legends/" title="Traduções de Smash Legends">Smash Legends</a>
                <a href="/sobre/" title="Entre em Contato">Sobre</a>
            </div>
            <span class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i
            ></span>
        </nav>
        <span id="topo"></span>
        <div class="corpo">
            <div class="margemGeral">