<h2 class="secaotitulo" id="informacoes-da-aventura"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
<section class="info livro">
    <figure>
        <img src="/img/capalivreto/{{ page.capa }}.jpg" alt="Capa do Livreto" class="zoom-img" />
    </figure>
    <div class="tabelainfo">
        <div class="divTable">
            <div class="cell cell-head">Título</div>
            <div class="cell">{{ page.title }}</div>

            <div class="cell cell-head">Título Original</div>
            <div class="cell">
                <strong>{{ page.original}} </strong>
            </div>

            <div class="cell cell-head">Autor</div>
            <div class="cell">{{ page.autorL }}</div>

            <div class="cell cell-head">IDs</div>
            <div class="cell">{% for c in page.idt %} {{ c }} {% endfor %}</div>

            <div class="cell cell-head">Sistema</div>
            <div class="cell">
                {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if page.tags.last ==
                'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last == 'e3' %} Dungeons &amp; Dragons
                3ª Edição {% endif %}
            </div>

            <div class="cell cell-head">Nível</div>
            <div class="cell">
                {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a %} - {%
                endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
            </div>
        </div>
    </div>
</section>
