<header class="gradienteBase">
    <nav class="barraTopo">
        <div class="logo">
            <a href="{{site.url}}">
                <img src="/img/logo.webp" alt="Home" />
            </a>
        </div>

        <button class="hamburger" aria-label="Abrir menu">
            <i class="bi bi-list"></i>
        </button>

        <ul class="menuTopo">
            {% for item in site.data.menu %}
                <li><a href="{{ item.url }}">{{ item.titulo }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
