</div>
  <div class="paraCima"> <a href="#topo" class="gradienteBase"> <i class="fas fa-arrow-up"></i> </a> </div>
</div>
<footer class="textoFooter gradienteBase">
  <img alt="Endpoint Badge" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fhits.dwyl.com%2Fsimpleskans%2Fsimpleskanscombr.json&style=for-the-badge&label=Visitantes&labelColor=rgba(0%2C%200%2C%200%2C%20%200)&color=rgba(0%2C%200%2C%200%2C%20%200)">
  <p>&copy;2024 Simple Skans<br/>
    Feito com HTML puro por ㄴKryFiㄱ</p>
</footer>
<script>
            function myFunction() {
                var x = document.getElementById("menuSuperior");
                if (x.style.display === "flex") {
                    x.style.display = "none";
                } else {
                    x.style.display = "flex";
                    x.classList.add("gradienteBase");
                }
            }
        </script>
</body>
</html>