---
layout: padrao
title: "A Praga Ardente"
descricao: 'Salve Passagem de Duvik da praga mortal nesta adaptação de The Burning Plague para a 5ª edição'
categories: dnd repaginando-dnd
tags: lvl1
permalink: /:categories/:title
resumo: 'The Burning Plague | Repaginando D&#38;D #1'
capa: '/img/postcapa/rdd1.jpg'
autorL: 'Miguel Duran'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    "A Praga Ardente" é uma emocionante aventura de Dungeons & Dragons que leva os jogadores a uma
                    pequena cidade mineira chamada Passagem de Duvik. A cidade, outrora próspera devido aos seus ricos
                    depósitos de prata, agora enfrenta uma terrível praga que envenenou seus poços e devastou suas
                    colheitas. Os habitantes, desesperados e enfraquecidos, dependem de um grupo de aventureiros para
                    salvar a cidade e purgar a fonte do mal que se esconde nas minas.
                </p>

                <p>
                    A praga começou de forma insidiosa, com os mineiros apresentando sintomas como bolhas e uma sede
                    insaciável. Rapidamente, a doença se espalhou, afetando não apenas os trabalhadores, mas também o
                    gado e as plantações, mergulhando a cidade em um estado de desespero. A missão dos aventureiros é
                    descer às profundezas das minas e enfrentar os perigos que lá se encontram, na esperança de
                    encontrar a origem da praga e erradicá-la.
                </p>

                <p>
                    À medida que os aventureiros exploram as minas, eles descobrem que a praga foi desencadeada por
                    Jakk, um xamã orc em busca de vingança. Jakk, que também sucumbiu à sua própria criação, continua a
                    espalhar a corrupção enquanto aguarda a chegada dos heróis. A aventura é repleta de desafios e
                    perigos, exigindo coragem, estratégia e trabalho em equipe para salvar Passagem de Duvik e seus
                    habitantes.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img loading="lazy" alt="Capa da Aventura" src="https://i.imgur.com/jfSZZbm.png" />
                    <figcaption>Capa da Aventura</figcaption>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">A Praga Ardente</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>The Burning Plague</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">1º Nível</div>

                        <div class="cell cell-head">Número do Livro</div>
                        <div class="cell">1</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">18</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>
            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a href="https://bit.ly/3NldLaK" target="_blank" class="botaodownload" id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <!--
                <a href="" class="botaodownload" id="gdriveD"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a href="" class="botaodownload" id="dropboxD"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
                -->
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a
                    target="_blank"
                    href="https://web.archive.org/web/20011107143752/http://www.wizards.com/dnd/files/BurningPlague.pdf"
                    >Link do livro original em inglês (Web Archive)</a
                >
                <a target="_blank" href=" https://www.rpgnext.com.br"
                    >Site do RPG Next (Um site completo recheado de aventuras, contos, bate-papo e muito amor por
                    RPG)</a
                >
            </div>
        </div>

        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
