---
layout: padrao
title: "O Enigma do Ettin"
descricao: 'Ajude a salvar Fortenovo do ettin amaldiçoado nesta adaptação de The Ettin&apos;s Riddle para a 5ª edição'
categories: dnd repaginando-dnd
tags: lvl2 lvl3
permalink: /:categories/:title
resumo: 'The Ettin&apos;s Riddle | Repaginando D&#38;D #2'
capa: '/img/postcapa/rdd2.jpg'
autorL: 'JD Wiker'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Há pouco mais de dois anos, um grupo de aventureiros enfrentou um feiticeiro maligno que havia
                    tomado o controle de uma fortaleza, forçando os habitantes de uma pequena aldeia a fugir. A batalha
                    foi árdua e apenas dois aventureiros sobreviveram. Um deles, o jovem clérigo Kyrnyn, foi
                    transformado em um ettin pelo mago. Agora, dividido entre sua própria consciência e a brutalidade de
                    sua segunda cabeça, Muck, Kyrnyn luta para encontrar uma maneira de reverter a maldição.
                </p>

                <p>
                    Enquanto isso, o vilarejo de Fortenovo sofre com os ataques do ettin, que rouba gado e destrói
                    casas. Um enigma misterioso aparece nas paredes do santuário local, sugerindo uma possível solução
                    para o dilema de Kyrnyn. Os aventureiros são chamados para ajudar, enfrentando desafios e
                    desvendando mistérios enquanto tentam salvar o vilarejo e libertar Kyrnyn de sua maldição.
                </p>

                <p>
                    Será que eles conseguirão resolver o enigma e restaurar a paz em Fortenovo? Ou serão forçados a
                    destruir o ettin para proteger os aldeões? A resposta está nas mãos dos jogadores, que devem usar
                    sua coragem, inteligência e habilidades para triunfar nesta emocionante aventura de Dungeons &#38;
                    Dragons.
                </p>

            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img loading="lazy" alt="Capa da Aventura" src="/img/capas/rdd2.png" />
                    <figcaption>Capa da Aventura</figcaption>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">O Enigma do Ettin</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>The Ettin’s Riddle</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">2º e 3º Níveis</div>

                        <div class="cell cell-head">Número do Livro</div>
                        <div class="cell">2</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">17</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>
            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a href="https://bit.ly/3U5CZgQ" target="_blank" class="botaodownload" id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a href="https://bit.ly/3YFrA8W" class="botaodownload" id="gdriveD" target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a href="https://bit.ly/3Ccx4k2" class="botaodownload" id="dropboxD" target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                 <a
                    target="_blank"
                    href="https://www.dmsguild.com/product/170940/The-Ettins-Riddle-30"
                    >The Ettin's Riddle 3e - Produto original para compra na DMsGuild</a
                >
                <a
                    target="_blank"
                    href="https://legacy.drivethrurpg.com/product/170940/The-Ettins-Riddle-30"
                    >The Ettin's Riddle 3e - Produto original para compra na DriveThruRPG</a
                >
                <a target="_blank" href=" https://www.rpgnext.com.br"
                    >Site do RPG Next (Um site completo recheado de aventuras, contos, bate-papo e muito amor por
                    RPG)</a
                >
            </div>
        </div>

        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
