---
layout: padrao
title: "O Xorn Faminto"
descricao: 'Tradução da aventura The Hungry Xorn para português do Brasil!'
categories: dnd
tags: lvl4 e5
permalink: /:categories/beyond/:title
resumo: 'The Hungry Xorn | D&D 5e'
capa: '/img/postcapa/xf.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>

                <p>
                    O encontro O Xorn Faminto, é uma interação social com um monstro que prefere negociar a lutar. Como
                    a maioria dos elementais, o xorn possui um alinhamento neutro, mas, ao contrário de seus primos
                    elementais, ele adora uma boa fofoca! Nativo do plano elemental da terra, os xorns habitam cavernas
                    naturais, a Umbraeterna e minas abandonadas. Eles também podem surgir em masmorras subterrâneas se
                    suas escavações atravessarem as paredes. No Plano Elemental da Terra, eles habitam sistemas de
                    cavernas entrelaçadas, onde geodos gigantes se cruzam em ângulos impossíveis.
                </p>
                <p>
                    Explorar esses reinos subterrâneos é uma tarefa árdua para os aventureiros. Sobreviver às
                    profundezas requer suprimentos, informações sobre os movimentos de monstros e conhecimento de áreas
                    seguras para descansar. É aqui que o xorn entra em cena.
                </p>
                <p>
                    Como um negociante de informações, o xorn possui exatamente o que os aventureiros precisam. Em
                    contrapartida, os xorns anseiam por gemas e metais preciosos – verdadeiras iguarias em seu paladar.
                    Embora normalmente ignorem criaturas orgânicas (pois não podem digerir carne), xorns famintos
                    perseguem aventureiros carregados de tesouros, oferecendo-se para barganhar… ou roubar, caso sejam
                    contrariados.
                </p>
                <p>
                    Enquanto exploram uma caverna subterrânea, uma masmorra ou um geodo extraplanar no Plano Elemental
                    da Terra, os personagens encontram um xorn faminto. Para que este encontro funcione perfeitamente,
                    tanto os personagens quanto o xorn devem possuir algo que o outro deseja. É provável que os
                    personagens tenham ouro ou joias que o xorn deseja devorar. Por sua vez, o xorn está repleto de
                    informações úteis sobre a masmorra que os personagens estão explorando; eles precisam querer o que o
                    xorn está oferecendo.
                </p>
                <p>
                    Como fazer seus personagens precisarem de informações em uma masmorra? Pode parecer simples, mas
                    seus jogadores buscarão informações quando precisarem alcançar algo e não souberem como fazê-lo.
                    Isso exige que os personagens tenham um objetivo claro (ou vários objetivos específicos) dentro da
                    masmorra, como encontrar e resgatar reféns, localizar um item mágico ou derrotar um vilão. Muitos
                    desses objetivos envolvem encontrar algo, o que torna valioso o conhecimento do xorn sobre a
                    localização de uma porta secreta, a senha para um portal mágico trancado ou o caminho correto por um
                    corredor cheio de armadilhas. Ou, talvez, um dragão vermelho viva na masmorra sobre um monte de
                    ouro. O xorn não pode pegar o ouro sozinho, mas está disposto a cavar uma entrada alternativa para o
                    covil do dragão se os personagens concordarem em dividir o tesouro com ele.
                </p>
                <p>
                    Além de simplesmente encontrar uma pessoa, objeto ou caminho, talvez os jogadores precisem aprender
                    como realizar algo. Considere uma masmorra onde os jogadores precisem derrotar um grande vilão da
                    campanha, mas saibam que o vilão é quase invencível. Eles precisarão descobrir como feri-lo, apesar
                    de sua invulnerabilidade. O xorn pode conhecer uma fraqueza secreta que eles poderiam explorar ou a
                    localização de uma lâmina mágica capaz de atravessar a armadura invencível do vilão.
                </p>
                <p>
                    Considere a sua própria masmorra e as circunstâncias da sua campanha. Que informações seus jogadores
                    precisam que este xorn poderia possuir?
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>The Hungry Xorn</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB8</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">5</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1NvsKa4wl8RIYFuzSsNeOzvDekzw0LSIY/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/412-encounter-of-the-week-the-hungry-xorn"
                    >Página da aventura The Hungry Xorn no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
