---
layout: padrao
title: "Tetsudou-ou: Famicom Board Game"
descricao: "Tradução de Tetsudou-ou: Famicon Board Game para PT-BR! by Simple Skans"
categories: rom-hacking
tags: nes
permalink: /:categories/:title
resumo: 'Nintendo Entertainment System'
capa: /img/postcapa/tetsudouou.png
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p></p>
                <p>
                    "Tetsudou-ou" é um jogo de tabuleiro lançado para Family Computer pela dB-SOFT em 12 de dezembro de
                    1987.
                </p>
                <p>
                    A jogabilidade é semelhante ao padrão da maioria dos jogos de tabuleiro, onde você segue os números
                    da roleta até o seu destino e, ao chegar, recebe dinheiro e testa suas habilidades de cálculo.
                </p>
                <p>
                    O jogo também incorpora um elemento semelhante a Monopoly de poder comprar ferrovias que já foram
                    usadas, mas ao contrário de Monopoly não há obrigação de passar por lugares que foram comprados,
                    então as ferrovias que foram compradas muitas vezes acabam sendo contornadas, resultando em
                    prejuízo.
                </p>
                <p>
                    Existem algumas cartas em que quanto mais tarde o jogador retira, menos opções ele tem como no
                    momento de compra e venda de linhas já que os primeiros jogadores podem comprar antes, tornando o
                    jogo um tanto injusto.
                </p>
                <p>
                    Uma das falhas mais sérias no equilíbrio do jogo é o "evento de troca de ativos", que faz com que
                    seus ativos (às vezes todos eles) sejam trocados aleatoriamente com outros personagens, o que
                    significa que se você estiver atrás, pode virar a mesa em um instante.
                </p>
                <p>
                    Devido à natureza lenta da roleta, era fácil escolher o número com os olhos, e muitas pessoas
                    disseram que este evento só acaba prejudicando significativamente o equilíbrio do jogo e isso está
                    incluído em todos as versões lançadas.
                </p>
                <div class="galeria">
                    <figure>
                        <img src="https://i.imgur.com/whCJanv.png" alt="Tela de Título" />
                        <figcaption class="gradienteBase">Tela de Título</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/i3dtmc2.png" alt="Tela de Regras" />
                        <figcaption class="gradienteBase">Tela de Regras</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/uV5bn7z.png" alt="Tela de Nomeação de Jogadores" />
                        <figcaption class="gradienteBase">Nomeação de Jogadores</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/uwLr4FM.png" alt="Tela Inicial da Partida" />
                        <figcaption class="gradienteBase">Tela Inicial da Partida</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/l5dGIRV.png" alt="Tela do Mapa" />
                        <figcaption class="gradienteBase">Mapa</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/KLde2Gs.png" alt="Tela de Seleção de Nova Rota" />
                        <figcaption class="gradienteBase">Seleção de Nova Rota</figcaption>
                    </figure>
                    <figure>
                        <img src="https://i.imgur.com/ZppqHd1.png" alt="Tela de Carta Retirada" />
                        <figcaption class="gradienteBase">Carta Retirada</figcaption>
                    </figure>
                </div>
                <p><b>Sobre a tradução</b></p>

                <p>
                    Todos os acentos foram inseridos e todos os textos foram traduzidos. Tivemos problemas com o nome
                    das cidades no minimapa, então por ora eles foram removidos, pretendemos adicioná-los depois no
                    futuro em uma atualização dessa tradução. Os gráficos também foram todos traduzidos. O jogo de
                    início é difícil de se entender (o Breno sabe bem disso) então recomendamos baixar e ler o manual
                    traduzido abaixo na seção de Downloads. O manual já vem em um formato propício para ser impresso (no
                    entanto, seu formato atualmente é de papel carta.)
                </p>
                <p>
                    Agradeço especialmente ao Taihen por me ajudar com o ROM Hacking e o japonês e ao RodiRAGE pela
                    tradução da tela inicial.
                </p>
                <p class="avisoErros">
                    Por favor, qualquer erro que você encontrar nos reporte pelos nossos meios de contato ou na seção de
                    comentários no final desta página.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-controller"></i> Informações do Jogo</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Rei da Ferrovia</div>

                        <div class="cell cell-head">Título Original <sup>JP</sup></div>
                        <div class="cell">(鉄道王 - ファミコンボードゲーム)</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Tetsudou-ou: Famicom Board Game</strong></div>

                        <div class="cell cell-head">Plataforma</div>
                        <div class="cell">NES/Famicon</div>

                        <div class="cell cell-head">Desenvolvedora</div>
                        <div class="cell">dB-SOFT</div>

                        <div class="cell cell-head">Gênero</div>
                        <div class="cell">Jogo de Tabuleiro</div>

                        <div class="cell cell-head">Lançamento</div>
                        <div class="cell">12/12/1987</div>
                    </div>
                </div>
            </section>
            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-person-vcard-fill"></i> Equipe</h3>
            <section class="equipe livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">KryFi</div>
                        <div class="cell">Tradução, Acentuação, Gráficos e ROM Hacking</div>

                        <div class="cell cell-head">RodiRAGE</div>
                        <div class="cell">Edição Gráficas e Capa do Jogo</div>

                        <div class="cell cell-head">Taihen</div>
                        <div class="cell">ROM Hacking e Revisão</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao4"><i class="bi bi-info-circle-fill"></i> Informações da ROM</h3>
            <section class="rom livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">ROM</div>
                        <div class="cell">Tetsudou Ou - Famicom Boardgame (Japan).nes</div>

                        <div class="cell cell-head">CRC32</div>
                        <div class="cell">2a4a9871</div>

                        <div class="cell cell-head">MD5</div>
                        <div class="cell">4ce65cbd37e9d36c3cb7050bcba4a3fc</div>

                        <div class="cell cell-head">SHA-1</div>
                        <div class="cell">af8f624e1ca5bb40f2b5f9c927b713308807302f</div>
                    </div>
                </div>
            </section>
            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao5"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://www.mediafire.com/file/fmahnxcxhf4qev2/%255BNES%255D_Tetsudou_Ou_PT-BR_v0.9.zip/file"
                    target="_blank"
                    class="botaodownload"
                    id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a href="https://www.romhacking.net/download/translations/7279/" target="_blank" class="botaodownload"
                    >ROMHacking.net</a
                >
                <a
                    href="https://www.mediafire.com/file/34a56sl9hjh9y90/Tetsudou-ou_Manual.pdf/file"
                    target="_blank"
                    class="botaodownload"
                    >Manual de Instruções</a
                >
            </section>
            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao6"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
               <a target="_blank" href="https://pt.wikipedia.org/wiki/Tetsud%C5%8D-%C5%8D"
                    >Página da Wikipédia</a
                >
                <a target="_blank" href="https://www.romhacking.net.br/index.php?topic=2825.0"
                    >Publicação da Tradução no FURT</a
                >

                <a target="_blank" href="https://gamefaqs.gamespot.com/gba/932712-lara-croft-tomb-raider-legend"
                    >Gamefaqs do Jogo</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações do Jogo</a></li>
                    <li><a href="#secao3">Equipe</a></li>
                    <li><a href="#secao4">Informações da ROM</a></li>
                    <li><a href="#secao5">Downloads</a></li>
                    <li><a href="#secao6">Links Relacionados</a></li>
                    <li><a href="#secao7">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao7"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
