---
layout: padrao
title: "Base de Operações"
descricao: 'Recupere Forte de Pedra Radiante das mãos inimigas nesta adaptação de Base of Operations para a 5ª edição'
categories: dnd
tags: lvl5
permalink: /:categories/repaginando-dnd/:title
resumo: 'Base of Operations | Repaginando D&#38;D #3'
capa: '/img/postcapa/rdd3.jpeg'
autorL: 'Ed Stark'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Nas sombras da cidade de Marikest, um antigo forte em ruínas guarda segredos há muito esquecidos.
                    Quando um grupo de humanoides vis toma o Forte de Pedra Radiante, os líderes locais entram em
                    pânico. Eles oferecem uma proposta tentadora aos aventureiros: expulsem os invasores e o forte será
                    seu.
                </p>
                <p>
                    Mas o verdadeiro perigo não está apenas nas profundezas das minas abandonadas. O Forte de Pedra
                    Radiante é a única barreira que separa a cidade das terras selvagens do norte. Sem ele, Marikest
                    ficará vulnerável a invasões e caos.
                </p>

                <p>
                    Kurjan Dente-de-Serra, um necromante orc, trama algo sombrio, e os rumores de mortos-vivos vagando
                    pelas muralhas aumentam o mistério.
                </p>
                <p>
                    Descubra os segredos, enfrente os perigos e talvez, apenas talvez, você possa reivindicar o Forte de
                    Pedra Radiante como sua própria base de operações. Mas cuidado, nem tudo é o que parece…
                </p>

                <p class="avisoErros">
                    Por favor, qualquer erro que você encontrar nos reporte pelos nossos meios de contato ou na seção de
                    comentários no final desta página.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img loading="lazy" alt="Capa da Aventura" src="/img/capas/rdd3.png" />
                    <figcaption>Capa da Aventura</figcaption>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Base de Operações</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Base of Operations</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">5º nível</div>

                        <div class="cell cell-head">Número do Livro</div>
                        <div class="cell">3</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">12</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>
            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a href="https://www.mediafire.com/file/lrn2d2t9i47y9u6/RDD_3_-_Base_de_Opera%25C3%25A7%25C3%25B5es.pdf/file" target="_blank" class="botaodownload" id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a href="https://drive.google.com/file/d/1l1joHMYooVemwjS8khTiVlXioueshaKo/view?usp=sharing" class="botaodownload" id="gdriveD" target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a href="https://www.dropbox.com/scl/fi/bnr7ime40z4rt20vdu3uq/RDD-3-Base-de-Opera-es.pdf?rlkey=m3umz0383oajanu7u9hrepfx5&st=k9fzzyjx&dl=0" class="botaodownload" id="dropboxD" target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href=" https://www.rpgnext.com.br"
                    >Site do RPG Next (Um site completo recheado de aventuras, contos, bate-papo e muito amor por
                    RPG)</a
                >
            </div>
        </div>

        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
