---
layout: padrao
title: "O Minotauro Perdido"
descricao: 'Tradução da aventura The Lost Minotaur para português do Brasil!'
categories: dnd beyond
tags: lvl3 lvl5 e5
permalink: /:categories/:title
resumo: 'The Lost Minotaur | D&D 5e'
capa: '/img/postcapa/mp.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>

                <p>
                    O encontro O Minotauro Perdido, é um encontro social com um monstro fora de sua zona de conforto.
                    Funciona melhor como um encontro aleatório enquanto o grupo viaja por uma paisagem temperada com
                    campos verdes ondulantes. Contudo, se o grupo estiver em um campo nevado ou um deserto, este
                    encontro pode ser adaptado para qualquer ambiente, desde que haja uma paisagem ampla e aberta com
                    poucos elementos distintivos. Este encontro inusitado com um minotauro perdido em um campo aberto
                    foi inspirado em uma jogada absurda em uma tabela de encontros aleatórios. Espero que este encontro
                    inspire você a transformar jogadas estranhas em histórias divertidas.
                </p>
                <p>
                    Entre as florestas místicas e as montanhas imponentes da natureza selvagem estão vastos campos de
                    grama verde, decorados com flores silvestres, riachos murmurantes e pequenos bosques esparsos. A
                    maioria dos aventureiros aprecia esses campos por sua ampla visibilidade e terreno fácil, permitindo
                    identificar marcos distantes e percorrer grandes distâncias a pé sem medo de emboscadas. Mas, para
                    uma criatura, um campo aberto é mais uma maldição do que uma bênção.
                </p>
                <p>
                    O minotauro, descendente de uma criatura que viveu toda sua vida em um vasto labirinto artificial,
                    encontra seu habitat natural em cavernas sinuosas e túneis labirínticos da Umbraeterna. Graças à sua
                    habilidade inata de memória labiríntica, os minotauros podem lembrar perfeitamente qualquer caminho
                    que tenham percorrido, memorizando as exatas características das paredes, corredores ou estradas por
                    onde passaram. Para eles, é inconcebível ficar perdido em qualquer circunstância.
                </p>
                <p>
                    E ainda assim, é exatamente essa situação em que o príncipe minotauro Gulgarthos se encontra:
                    perdido em um campo aberto, longe de casa. Gulgarthos de Cresheria—ou Gulgar, para os amigos—é o
                    nobre filho de uma família real de minotauros em Cresheria, uma pequena cidade-estado mercantil na
                    Umbraeterna. Lá, minotauros, duergars, drows e outros seres da Umbraeterna se reúnem para comerciar
                    bens e informações. A família real de Cresheria já foi composta por cultistas do senhor demoníaco
                    Baphomet, mas abandonaram sua fé sombria após a incursão dos senhores demoníacos revelar o
                    verdadeiro poder de seu mestre. Mostraram-se arrependidos perante um grupo de aventureiros que
                    lutavam contra os demônios, e desde então a família de minotauros tem se esforçado para superar sua
                    reputação monstruosa.
                </p>
                <p>
                    Uma família de drows exilados é rival política da família de Gulgarthos, e a jovem filha dessa
                    família, uma elfa obscura chamada Lothira, desafiou Gulgar a um duelo. O príncipe minotauro estava
                    prestes a vencer, quando Lothira usou um pergaminho, presente de sua irmã mais velha, para
                    teleportar Gulgar para uma terra distante. O minotauro apareceu em um campo de grama esmeralda sob
                    um sol ofuscante. Desorientado e confuso, o minotauro correu pelo campo, buscando desesperadamente
                    um caminho de volta para casa—ou, pelo menos, uma criatura sobre a qual descarregar sua fúria. Foi
                    então que os aventureiros chegaram.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
               <figure>
                   <img src="/img/capalivreto/mp.jpg" alt="Capa do Livreto">
               </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>The Lost Minotaur</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB7</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">8</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1RLvoXSejC0qxd7isaac60CEl9VGK2hNF/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/407-encounter-of-the-week-the-lost-minotaur"
                    >Página da aventura The Lost Minotaur no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
