---
layout: padrao
title: "Desventuras no Festimel"
descricao: 'Tradução das aventuras Honeyfest Hagglers e Spring Sickness April Fool’s Gold para português do Brasil, aventuras de D&D 5e'
categories: dnd beyond
tags: lvl3 e5
permalink: /:categories/:title
resumo: 'Honeyfest Hagglers &amp; Spring Sickness | D&D 5e'
capa: '/img/postcapa/df.jpg'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB18'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" class="zoom-img" />
                </figure>
                <p>
                    <strong>Entre Mel, Mentiras e Monstros</strong> — Nem todo festival é só confete e alegria.
                    <em>Desventuras no Festimel</em> é um compilado de dois encontros conectados — ideal para sessões
                    únicas ou como prelúdio de uma campanha maior. Começando com negociações espirituosas em uma feira
                    de primavera e terminando com doenças misteriosas e um mago da peste enlouquecido, essa aventura
                    desafia os personagens a enfrentarem os perigos de um mundo mágico… onde até o mel pode virar
                    maldição.
                </p>
                <hr />
                <p><strong>Premissas das Aventuras:</strong></p>
                <p>
                    <strong>Barganhadores do Festimel:</strong> Os personagens mergulham na feira de primavera conhecida
                    como Festimel, onde comerciantes encantadores vendem itens mágicos e relíquias raras. Para obter os
                    melhores preços, os heróis devem participar de desafios sociais usando perícias de Carisma — como
                    Persuasão, Enganação ou Intimidação — num verdadeiro “duelo de palavras” contra o esperto anão
                    Jonabar Kilroy e sua trupe de halflings comerciantes.
                </p>
                <p>
                    <strong>Doença da Primavera:</strong> Dias depois da feira, os personagens acordam doentes. Uma
                    misteriosa epidemia atinge a cidade, e um panfleto os convida à loja de Pyotr Panaceia — um
                    apotecário mascarado que espalha doenças em nome da deusa Talona. Ao lado de um otyugh obediente e
                    contaminador, Pyotr transforma a praça do mercado em um campo de combate venenoso. Os heróis
                    precisam enfrentar feitiços fétidos e tentáculos pútridos… ou entregar-se ao caos.
                </p>

                <hr />
                <p><strong>Ganchos para Aventuras Futuras:</strong></p>
                <ul>
                    <li>
                        O periapto encontrado dentro do otyugh pode levar a templos perdidos que resistem ao domínio de
                        Talona.
                    </li>
                    <li>
                        Se capturado, Pyotr revela pistas sobre um culto subterrâneo que infecta outras vilas — os
                        heróis podem se tornar caçadores de pestilências.
                    </li>
                    <li>
                        Jonabar Kilroy pode reaparecer com itens mais perigosos, agora ciente de que seus negócios
                        atraem inimigos extraplanares.
                    </li>
                    <li>
                        A cidade pode implorar por ajuda: curas verdadeiras, controle de danos públicos e proteção
                        contra agentes contaminantes que se escondem como comerciantes.
                    </li>
                </ul>
                <hr />
                <p><em>“No Festimel, o ouro dança. Mas é o veneno que aguarda o último passo.”</em></p>
                <p>Vai se encantar com bugigangas mágicas — ou descobrir que o preço real só chega depois?</p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/df.jpg" alt="Capa do Livreto" class="zoom-img" />
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>Honeyfest Hagglers &amp; Spring Sickness</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">{{ page.idt }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1-Fht-nnRcf0rumjYHaxuE9JFNlyj5QAd/view?usp=drive_link"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/466-encounter-of-the-week-honeyfest-hagglers"
                    >Página da aventura Honeyfest Hagglers no D&#38;D Beyond (em inglês)</a
                >

                <a target="_blank" href="https://www.dndbeyond.com/posts/481-encounter-of-the-week-spring-sickness"
                    >Página da aventura Spring Sickness no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
