---
layout: padrao
title: "Ouro dos Tolos de Abril"
descricao: 'Tradução da aventura April Fool’s Gold para português do Brasil, aventuras de D&D 5e'
categories: dnd beyond
tags: lvl1 e5
permalink: /:categories/:title
resumo: 'April Fool’s Gold | D&D 5e'
capa: '/img/postcapa/ota.jpg'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB17'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>

                <p>
                    Quando a Cobiça Cega... — Nem toda caverna esconde dragões ou relíquias lendárias. Às vezes, ela
                    guarda <em>armadilhas, mentiras</em> e um punhado de pirita brilhando como promessa vazia. Em
                    <em>Ouro dos Tolos de Abril</em>, a armadilha é mais teatral do que letal — mas só para aqueles com
                    olhos atentos e bolso desconfiado.
                </p>
                <hr />
                <p>
                    <strong>A Premissa:</strong> Durante uma jornada por colinas tranquilas, os personagens encontram o
                    sátiro <strong>Grimple</strong>, que afirma ter descoberto uma mina secreta atrás de uma cachoeira.
                    Lá dentro, riquezas perdidas esperam — ou pelo menos é o que ele e seu irmão
                    <strong>Nix</strong> querem que você acredite. O problema? Espíritos assombrados, armadilhas de
                    foço, e uma taxa antecipada de 50 po por cabeça pela “proteção” mágica dos guias.
                </p>
                <p>O que parece uma oportunidade de ouro é, na verdade, de tolos.</p>
                <hr />
                <p><strong>A Engrenagem da Farsa:</strong></p>
                <ul>
                    <li>
                        Grimple usa <strong>ilusões menores</strong> para transformar punhados de pirita em ouro
                        reluzente.
                    </li>
                    <li>
                        Nix carrega <strong>flautas atormentadoras</strong>, que enchem os túneis com ruídos de
                        “espíritos” aterrorizantes.
                    </li>
                    <li>
                        Juntos, eles guiam os aventureiros pelos túneis... só para empurrá-los em
                        <strong>armadilhas de foço</strong> profundas e escapar com o pagamento.
                    </li>
                </ul>
                <hr />
                <p>
                    <strong>Gancho de Campanha:</strong> Ideal como episódio filler ou abertura dramática para campanhas
                    feéricas, este encontro é uma lição sobre confiança, percepção e o custo de acreditar em contos bem
                    contados.
                </p>
                <p><em>“Proteção custa caro. Mas a ingenuidade... pode custar ainda mais.”</em></p>
                <p>Vai pagar pela entrada — ou arrancar a cortina da mentira?</p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/ota.jpg" alt="Capa do Livreto" />
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>April Fool’s Gold</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">{{ page.idt }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1-tZMSOoCVwM4YHuJn2JwNeSSbQeZ3a0R/view?usp=drive_link"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/460-encounter-of-the-week-april-fools-gold"
                    >Página da aventura April Fool’s Gold no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
