---
layout: padrao
title: "Não Diga Vecna"
descricao: 'Tradução de Don&#39;t Say Vecna para português, trazendo a aventura para a comunidade brasileira.'
categories: dnd
tags: lvl20
permalink: /:categories/:title
resumo: 'Don&#39;t Say Vecna | D&D 5e'
capa: '/img/postcapa/dsv.png'
autorL: 'Mike Bernier, Michael Galvis'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    <i
                        >O arquilich Vecna é um dos vilões mais icônicos da tradição de Dungeons &#38; Dragons. E agora
                        você pode testemunhar sua magia necromântica com O Dossiê de Vecna + Não Diga Vecna. Este
                        suplemento emocionante detalha o legado e as estatísticas do próprio Rei Imortal!</i
                    >
                </p>
                <p>
                    "Não Diga Vecna!" é uma aventura gratuita de Dungeons &#38; Dragons para personagens de nível 20,
                    onde os jogadores são encarregados de investigar a misteriosa torre de um mago que desapareceu do
                    Plano Material. Durante a exploração, eles descobrem os segredos proibidos que três estudiosos
                    desenterraram e os destinos trágicos que os aguardavam. Esta aventura caseira utiliza informações do
                    Dossiê de Vecna e culmina em um confronto mortal contra o arquilich Vecna. A aventura pode ser
                    concluída em cerca de duas a três horas e requer apenas o Dossiê de Vecna para ser executada.
                </p>

                <p>
                    A torre, conhecida como Torre Cientia, pertencia a três estudiosos - Kalene, Aden e Brin - que
                    estavam pesquisando sobre Vecna. Quando suas investigações chamaram a atenção do arquilich, Vecna
                    transportou a torre para Limbo, um plano de caos, onde aprisionou e atormentou os estudiosos até
                    suas mortes prematuras. Agora, Vecna usa a torre para atrair e matar aqueles que ousam aprender mais
                    sobre ele. A torre contém armadilhas mortais, conhecimentos proibidos sobre Vecna e um portal para o
                    próprio santuário do arquilich.
                </p>

                <p>
                    Os jogadores têm como objetivos investigar a Torre Cientia, recuperar os segredos descobertos sobre
                    Vecna, encontrar as três chaves para abrir o Portal Cruel e derrotar Vecna. A torre é protegida por
                    defesas mágicas e amaldiçoada pelos atos vis de Vecna. Qualquer criatura que pronuncie o nome
                    "Vecna" dentro da torre sofre dano psíquico e pode ser amaldiçoada, impedindo-a de falar por um
                    período de tempo. Além disso, a torre possui características únicas, como paredes que se reconstroem
                    automaticamente e tentáculos negros que protegem portas e janelas.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Don't Say Vecna (Vecna Dossier)</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">20º nível</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">18</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://www.mediafire.com/file/c8h0fk10qa967za/N%25C3%25A3o_Diga_Vecna_%2528O_Dossi%25C3%25AA_de_Vecna%2529.pdf/file"
                    target="_blank"
                    class="botaodownload"
                    id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a
                    href="https://drive.google.com/file/d/1Z3XOB7Ebh4A7asLIQxwri8sjMssBusIZ/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a
                    href="https://www.dropbox.com/scl/fi/wf0fcmah4jwhbo4s38uwh/N-o-Diga-Vecna-O-Dossi-de-Vecna.pdf?rlkey=n5tc3wl88e53f6hlqv321848y&st=pyl0sums&dl=0"
                    class="botaodownload"
                    id="dropboxD"
                    target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/1264-free-level-20-d-d-adventure-face-off-against-vecna"
                    >Página da Aventura Don&#39;t Say Vecna no D&#38;D Beyond (em inglês)</a
                >
                
                <a target="_blank" href="https://www.dndbeyond.com/claim/source/the-vecna-dossier"
                    >Página do Suplemento Vecna Dossier no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
