---
layout: padrao
title: "Vale das Nuvens"
descricao: 'Mergulhe nesta adapatação de Ruined Tower, Wrath of the Minoutar e Eye of the Wyvern para D&D 5e'
categories: dnd
tags: lvl1 lvl2 
permalink: /:categories/:title
resumo: 'Tradução da coleção AD&#38;D Fast Play 2e'
capa: '/img/postcapa/vale.jpg'
autorL: 'Jeff Grub'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Vale das Nuvens é uma campanha de Dungeons &#38; Dragons que pode ser usada como um prólogo perfeito
                    para outras aventuras que começam no nível 5 ou 6. Projetada para personagens de 1º nível, a
                    campanha leva os jogadores através de uma série de desafios e mistérios, permitindo que eles
                    alcancem o 6º nível ao final da aventura. Esta campanha é uma adaptação da coleção AD&#38;D Fast
                    Play da 2ª edição de D&#38;D, contendo A Torre em Ruínas (Ruined Tower), A Fúria do Minotauro (Wrath
                    of the Minotaur) e O Olho da Serpe (Eye of the Wyvern), convertidos para a 5ª edição, oferecendo uma
                    experiência clássica com mecânicas modernas.
                </p>

                <p>
                    No Capítulo 1: A Torre em Ruínas, os personagens são convocados pelo Patriarca Hovig Elmo-Plano para
                    investigar uma antiga torre que tem sido a origem de ataques a fazendas locais. O objetivo principal
                    deste capítulo é explorar a torre, enfrentar esqueletos e um carniçal, e descobrir a biblioteca
                    oculta que pode conter valiosas informações e tesouros.
                </p>

                <p>
                    O Capítulo 2: A Fúria do Minotauro leva os personagens a uma caverna perigosa habitada por kobolds e
                    um minotauro. Os jogadores devem superar armadilhas e derrotar o minotauro e seus seguidores. O
                    objetivo aqui é garantir a segurança do Vale das Nuvens, eliminando a ameaça representada pelo
                    minotauro.
                </p>

                <p>
                    No Capítulo 3: O Olho da Serpe, os personagens viajam para o norte para enfrentar serpins que estão
                    aterrorizando a região. Eles devem investigar as Cataratas das Serpes e enfrentar um xamã goblin e
                    sua criatura de estimação, Presa. O objetivo deste capítulo é destruir o Olho da Serpe, um cristal
                    mágico que cria serpins, e derrotar a Serpe das Chamas, uma criatura imponente e perigosa.
                </p>
                <div class="galeria">
                    <figure>
                        <img src="/img/posts/1-torre.png" alt="Capa de a Torre em Ruínas" />
                        <figcaption>A Torre em Ruínas<br>(Ruined Tower)</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/2-minotauro.png" alt="Capa de A Fúria do Minotauro" />
                        <figcaption>A Fúria do Minotauro<br>(Wrath of the Minotaur)</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/3-serpe.png" alt="Capa de O Olho da Serpe" />
                        <figcaption>O Olho da Serpe<br>(Eye of the Wyvern)</figcaption>
                    </figure>
                </div>

                <p>
                    Vale das Nuvens oferece uma rica narrativa e desafios variados, projetados para testar a coragem e
                    habilidades dos jogadores. A história é cheia de mistérios, combates intensos e oportunidades para
                    os personagens crescerem e se tornarem heróis do Vale. Além disso, a campanha serve como uma
                    excelente introdução para aventuras futuras, preparando os personagens para desafios ainda maiores.
                </p>

                <p>
                    Ao final da campanha, os personagens estarão prontos para embarcar em novas aventuras, já que terão
                    alcançado o nível 5 ou 6. Isso faz de Vale das Nuvens um prólogo ideal para qualquer Mestre que
                    queira iniciar uma campanha épica com personagens bem desenvolvidos e prontos para enfrentar novos
                    perigos.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Vale das Nuvens</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong
                                >AD&#38;D Fast Play (Ruined Tower, Wrath of the Minotaur e Eye of the Wyvern)</strong
                            >
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5e</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">1º ao 6º nível</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">51</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a href="https://www.mediafire.com/file/5qb9rkdfonwh72y/Vale_das_Nuvens.pdf/file" target="_blank" class="botaodownload" id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a href="https://drive.google.com/file/d/1pKRYqI96_MoMyDNS1BhjGn9BHoOil_9W/view?usp=sharing" target="_blank" class="botaodownload" id="gdriveD"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a href="https://www.dropbox.com/scl/fi/3uv8puq5cxd8rd75g0jlt/Vale-das-Nuvens.pdf?rlkey=dv585wbsivxhj0ef6peskptxu&st=rcpake7f&dl=0" target="_blank" class="botaodownload" id="dropboxD"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dmsguild.com/product/192379/Wrath-of-the-Minotaur-2e"
                    >Wrath of the Minotaur - Produto original para compra na DMsGuild</a
                >
                <a target="_blank" href="https://www.dmsguild.com/product/180846/Eye-of-the-Wyvern-2e"
                    >Eye of the Wyvern - Produto original para compra na DMsGuild</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
