---
layout: padrao
title: "Strahd Deve Morrer"
descricao: 'Descubra três aventuras one-shot emocionantes para Halloween baseadas na campanha &ldquo;A Maldição de Strahd&rdquo; de Dungeons & Dragons.'
categories: dnd
tags: lvl6 lvl8 lvl10 
permalink: /:categories/beyond/:title
resumo: 'Strahd Must Die | D&D 5e'
capa: '/img/postcapa/sdm.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Se você está procurando uma maneira emocionante de celebrar o Halloween, <i>Strahd Deve Morrer</i> é
                    a escolha perfeita. Esta compilação oferece três aventuras one-shot baseadas na famosa campanha
                    <i>A Maldição de Strahd</i>. Vamos dar uma olhada em cada uma delas:
                </p>

                <p>
                    <i><b>1. Strahd Deve Morrer Hoje à Noite!:</b></i> Nesta aventura, os heróis têm a missão de matar
                    Strahd von Zarovich em uma única sessão de jogo. Utilizando partes específicas da campanha original,
                    a aventura foca na exploração do Castelo Ravenloft. Para manter o jogo dinâmico e emocionante, há
                    regras especiais que limitam o tempo de jogo a cerca de 4 horas, com eventos aleatórios e presentes
                    concedidos por Strahd para acelerar a ação.
                </p>
                <p>
                    <i><b>2. Strahd Deve Morrer Novamente:</b></i> Após a aparente morte de Strahd, os heróis descobrem
                    que ele está se transformando em um devorador de mentes vampírico. Os jogadores enfrentam duplicatas
                    de Strahd e outros inimigos enquanto tentam encontrar e destruir o verdadeiro Strahd antes que sua
                    transformação esteja completa. Esta aventura oferece um toque único e desafiador à história
                    original.
                </p>
                <p>
                    <i><b>3. Strahd Deve Morrer... NO ESPAÇO!:</b></i> Nesta versão futurista, Strahd transforma o
                    Castelo Ravenloft em uma nave espacial para perseguir Irene Kolyana através do espaço. Os heróis
                    devem impedir Strahd de alcançar Irene, enfrentando desafios tanto dentro do castelo quanto no
                    espaço exterior. Esta aventura é perfeita para aqueles que querem uma experiência de D&#38;D fora do
                    comum.
                </p>
                <div class="galeria">
                    <figure>
                        <img src="/img/posts/sdmhn.png" alt="Strahd Deve Morrer Hoje à Noite!" />
                    </figure>
                    <figure>
                        <img src="/img/posts/sdmn.png" alt="Strahd Deve Morrer Novamente" />
                    </figure>
                    <figure>
                        <img src="/img/posts/sdme.png" alt="Strahd Deve Morrer... NO ESPAÇO!" />
                    </figure>
                </div>
                <p>
                    Cada uma dessas aventuras é projetada para ser jogada em uma única sessão, proporcionando uma
                    experiência intensa e emocionante de D&#38;D. Se você está pronto para enfrentar Strahd e salvar o
                    dia, reúna seus amigos e prepare-se para uma noite inesquecível de Halloween!
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img loading="lazy" alt="Capa da Aventura" src="/img/capas/sdm.png" />
                    <figcaption>Capa da Aventura</figcaption>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>Strahd Must Die (Tonight!, Again, IN THE SPACE!)</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {{ a | replace: 'lvl', ''}}º Nível
                            {% unless c.last == a %}, 
                            {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">27</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://www.mediafire.com/file/1arlourglrt6rez/Strahd_Deve_Morrer.pdf/file"
                    target="_blank"
                    class="botaodownload"
                    id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a
                    href="https://drive.google.com/file/d/1Oiw4YD9y0RT-lZQtESPH25LSV5i61n5o/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a
                    href="https://www.dropbox.com/scl/fi/9nttujassrlc8mmrd0v8n/Strahd-Deve-Morrer.pdf?rlkey=239pzau15q8t8oxwnei9ejtmu&st=xkfdi5mw&dl=0"
                    class="botaodownload"
                    id="dropboxD"
                    target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/359-strahd-must-die-tonight-how-to-play-ravenloft-in-a"
                    >Página da aventura Strahd Must Die Tonight! no D&#38;D Beyond (em inglês)</a
                >

                <a target="_blank" href="https://www.dndbeyond.com/posts/647-strahd-must-die-again-and-again-and-again"
                    >Página da aventura Strahd Must Die Again no D&#38;D Beyond (em inglês)</a
                >
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/895-strahd-must-die-in-space"
                    >Página da aventura Strahd Must Die... IN SPACE! no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
