---
layout: padrao
title: "Jornada pelo Discord"
descricao: 'Sobreviva a vampiros e reviva um mundo planar a muito esquecido nesta tradução de Voyage into Discord.'
categories: dnd
tags: lvl1 lvl2 lvl3 e5
permalink: /:categories/:title
resumo: 'Voyage into Discord | D&D 5e'
capa: '/img/postcapa/jid.png'
autorL: 'Adam “Rutskarn” DeCamp'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" class="zoom-img" />
                </figure>
                <p>
                    Entre as tempestades etéreas e os vazios congelantes dos planos, um refúgio lendário aguarda
                    redescoberta: os Reinos de Discord. Criados por magos de eras esquecidas, esses semiplanos
                    conectavam mundos através de portais, oferecendo um espaço para exploração, debates e jogos. Porém,
                    o tempo obscureceu seus segredos, e seus portais, uma vez vibrantes, tornaram-se apenas histórias.
                    Agora, uma chance surge para recuperar esse conhecimento perdido.
                </p>

                <p>
                    Nesta aventura, os personagens encontram-se transportados para um mundo central abandonado, oculto
                    por eras sob a superfície do seu próprio plano. Ao explorar, descobrem que o reino foi invadido por
                    vampiros famintos, exilados há muito tempo e presos em sua própria fome. À medida que o sol se põe,
                    os jogadores terão de lutar para restaurar as antigas magias do sino encantado, protegendo a torre
                    contra uma horda de mortos-vivos sedentos.
                </p>

                <p>
                    <i>Jornada pelo Discord</i> é projetada para 3 a 6 personagens de 1º a 3º níveis, oferecendo um
                    equilíbrio perfeito entre combate, exploração e resolução de mistérios. Com mapas detalhados,
                    criaturas únicas e uma narrativa que conecta personagens a segredos de outros mundos, esta aventura
                    transforma até o menor dos heróis em defensores de um legado planar.
                </p>

                <div class="galeria">
                    <figure>
                        <img src="/img/posts/Amazens.jpg" alt="Ícone de Amazens" class="zoom-img" />
                        <figcaption>Amazens</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/EnjoyFrog.jpg" alt="Ícone de EnjoyFrog" class="zoom-img" />
                        <figcaption>EnjoyFrog</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/Eximic.jpg" alt="Ícone de Exemic" class="zoom-img" />
                        <figcaption>Exenic</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/Mocs.jpg" alt="Ícone de Mocs" class="zoom-img" />
                        <figcaption>Mocs</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/Sakinder.jpg" alt="Ícone de Sakinder" class="zoom-img" />
                        <figcaption>Sakinder</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/Willowpi.jpg" alt="Ícone de Willowpi" class="zoom-img" />
                        <figcaption>Willowpi</figcaption>
                    </figure>
                </div>
                <p>
                    Prepare-se para uma batalha desesperada ao entardecer, enquanto tenta reativar um sino mágico que
                    pode expulsar as trevas de vez. Mas cuidado: cada decisão errada pode aproximar o fim, não só para
                    os personagens, mas também para o futuro dos Reinos de Discord. Onde o próximo portal levará? Isso
                    depende de você.
                </p>
            </div>
            <div class="separador"></div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/jpd.jpg" alt="Capa do Livreto" class="zoom-img" />
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Jornada pelo Discord</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>Voyage into Discord</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">30</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1xffcnzdz4OETlbsLOM8dLGEVlvw4vqVc/view?usp=sharing"
                    target="_blank"
                    class="botaodownload"
                    id="gdriveD"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://marketplace.roll20.net/browse/module/34121/voyage-into-discord"
                    >Página oficial do módulo no Roll20</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
