---
layout: padrao
title: "Santuário da Deusa Réptil"
descricao: 'Tradução da aventura Sanctum of the Reptile God para português do Brasil, uma aventura de D&D 5e'
categories: dnd beyond
tags: lvl9 lvl10 lvl11 e5
permalink: /:categories/:title
resumo: 'Sanctum of the Reptile God | D&D 5e'
capa: '/img/postcapa/sdr.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB11'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}"  class="zoom-img"/>
                </figure>

                <p>
                    <strong>O Preço Escamoso da Imortalidade</strong> — Há lendas que deveriam permanecer enterradas...
                    mas Explictica Defilus sempre retorna. <em>Santuário da Deusa Réptil</em> apresenta uma ameaça
                    ancestral renascida em meio ao deserto: uma naga espiritual adorada como deusa por um culto mutante,
                    que vê na corrupção alquímica a chave para transformar o reino inteiro em um império de escamas e
                    submissão.
                </p>
                <hr />
                <p>
                    <strong>Premissa da Aventura:</strong> Em um templo escondido entre dunas e ruínas esquecidas,
                    Explictica restabeleceu seu culto. O plano? Infestar os cursos d’água com uma Praga Mística que
                    transforma qualquer criatura viva em reptantes subservientes. A “deusa” promete poder, família e
                    eternidade — se você estiver disposto a sacrificar sua carne, sua vontade… e sua humanidade.
                </p>
                <hr />
                <p><strong>Ganchos Prováveis:</strong></p>
                <ul>
                    <li>Personagens são enviados por aldeões preocupados com águas contaminadas.</li>
                    <li>Encontro aleatório durante exploração de regiões desérticas.</li>
                    <li>Último desafio em uma campanha de corrupção sobrenatural.</li>
                    <li>
                        Conexão com aventuras como <em>Tumba da Aniquilação</em>, adaptando Explictica como vilã
                        principal.
                    </li>
                </ul>
                <hr />
                <p>
                    <em
                        >“Ela não exige lealdade... ela molda você em algo que não pode negar. O santuário escama,
                        seduz, e sempre vigia.”</em
                    >
                </p>
                <p>Vai desafiar a naga — ou deixar que sua bênção rastejante se espalhe pelas veias do mundo?</p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/sdr.jpg" alt="Capa do Livreto"  class="zoom-img"/>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>Sanctum of the Reptile God</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB11</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1-Aht4VZQv2jR2OCNkrE6Vic2CWIQ1BJq/view"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/435-encounter-of-the-week-sanctum-of-the-reptile-god"
                    >Página da aventura Sanctum of the Reptile God no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
