---
layout: padrao
title: "O Festival Abandonado"
descricao: 'Descubra um encontro emocionante de Dungeons & Dragons chamado "O Festival Abandonado", perfeito para adicionar à sua campanha.'
categories: dnd beyond
tags: lvl3 e5
permalink: /:categories/:title
resumo: 'The Abandoned Festival | D&D 5e'
capa: '/img/postcapa/fa.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB05'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}"  class="zoom-img"/>
                </figure>

                <p>
                    <strong>Quando as Estrelas Caem em Fúria</strong> — Um festival é onde mortais tentam tocar o
                    sublime — com luzes, risos e encantamentos. Mas em <em>O Festival Abandonado</em>, esse toque se
                    torna um rasgo na realidade. Ideal para aventuras que misturam caos arcano, combate infernal e
                    mistério alquímico, esta história mergulha os jogadores em um cenário carbonizado onde o espetáculo
                    virou massacre... e a única saída está nas chamas.
                </p>
                <hr />
                <p>
                    <strong>Premissa da Aventura:</strong><br />Os personagens encontram os restos do Festum Annua — o
                    mais grandioso festival de Ano Novo da região, agora reduzido a cinzas, silêncio e fuligem. No
                    centro da praça, uma estátua que deveria iluminar os céus com magia explode em fúria arcana após ser
                    sabotada por um aprendiz invejoso. Três demônios — representações vivas dos componentes da pólvora
                    (salitre, carvão e enxofre) — emergem para atacar. A única forma de encerrar o caos e libertar a
                    alma aprisionada da pirotécnica Song Ling-i é derrotar os demônios e lançá-los nas chamas da estátua
                    na ordem exata que forma a pólvora negra.
                </p>
                <hr />
                <p><strong>Ganchos para Aventuras Futuras:</strong></p>
                <ul>
                    <li>
                        Os personagens podem ser caçados por servos dos Nove Infernos, que consideram o exorcismo uma
                        violação da magia pactuada.
                    </li>
                    <li>
                        Pergaminhos arcanos do festival podem conter magias alquímicas únicas, atraindo magos renegados
                        e colecionadores arcanistas.
                    </li>
                    <li>
                        Song Ling-i, libertada, pode retornar como espírito guia ou patrona feérica ligada à magia dos
                        fogos e celebrações.
                    </li>
                    <li>
                        O ritual de sabotagem pode ter sido influenciado por cultos infernais ou entidades como
                        Dispater, sugerindo uma guerra silenciosa entre planos.
                    </li>
                </ul>
                <hr />
                <p>
                    <em
                        >“Nem todo espetáculo termina em aplausos. Às vezes, ele clama por almas... em meio às
                        chamas.”</em
                    >
                </p>
                <p>
                    Vai desvendar o enigma e acender um último fogo de esperança — ou deixar o festival selar seu final
                    com estalos infernais?
                </p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/fa.jpg" alt="Capa do Livreto"  class="zoom-img"/>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>The Abandoned Festival</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB5</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1i8M71sKlJzY__tddqmU_V2K7Lo2v2Dj9/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/398-encounter-of-the-week-the-abandoned-festival"
                    >Página da aventura The Abandoned Festival no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
