---
layout: padrao
title: "Lamento do Unicórnio"
descricao: 'Tradução da aventura The Dying Unicorn para português do Brasil!'
categories: dnd beyond
tags: lvl2 e5
permalink: /:categories/:title
resumo: 'The Dying Unicorn | D&D 5e'
capa: '/img/postcapa/ldu.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB06'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}"  class="zoom-img"/>
                </figure>
                <p>
                    <strong>Quando Um Enigma Decide o Destino da Floresta</strong> — Às vezes, o silêncio de uma
                    nascente é o que grita mais alto. <em>Lamento do Unicórnio</em> é uma aventura de quebra-cabeça onde
                    a falha pode levar à ruína de uma criatura sagrada — ou à ascensão de uma entidade infernal. Ideal
                    para campanhas com temas de redenção, natureza corrompida e dilemas éticos difíceis, essa aventura
                    convida os jogadores a resolver um enigma ancestral com tempo limitado... e consequências
                    definitivas.
                </p>
                <hr />
                <p>
                    <strong>Premissa da Aventura:</strong><br />Os aventureiros chegam ao Bosque de Vassorum, uma
                    floresta protegida pelo unicórnio dourado <strong>Ehlona-Vassorum</strong>, servo da deusa da
                    natureza. Eles encontram a criatura caído à beira de uma fonte poluída por magia profana: sem
                    forças, o unicórnio precisa que mortais realizem o ritual de purificação deixado por antigos
                    seguidores de Ehlona. O ritual envolve decifrar uma fábula druídica e usar três jarros em um
                    quebra-cabeça lógico — tudo isso antes que a corrupção consuma o guardião e o transforme em uma
                    versão flamejante e aterrorizante de si mesmo.
                </p>
                <hr />
                <p><strong>Ganchos para Aventuras Futuras:</strong></p>
                <ul>
                    <li>
                        O unicórnio, se salvo, pode se tornar um guia espiritual em campanhas ligadas à defesa de
                        nascentes sagradas e à restauração de florestas contaminadas.
                    </li>
                    <li>
                        A corrupção da fonte pode ser apenas a primeira etapa de um plano maior de invasão dos Nove
                        Infernos, liderado por narzugons e agentes de Avernus.
                    </li>
                    <li>
                        Os personagens podem buscar outros artefatos ligados à deusa Ehlona, como fragmentos de vida
                        elemental ou flechas sagradas escondidas em regiões devastadas.
                    </li>
                    <li>
                        Caso o ritual falhe, o surgimento do narzugon cria um inimigo recorrente que acredita que o
                        grupo desrespeitou uma profecia infernal — iniciando uma campanha planar de perseguição e
                        confronto.
                    </li>
                </ul>
                <hr />
                <p>
                    <em
                        >“Este não é um quebra-cabeça de pedras e água. É um teste de esperança, fé — e da coragem de
                        tentar quando tudo parece perdido.”</em
                    >
                </p>
                <p>Vai salvar o guardião da floresta — ou testemunhar sua queda em chamas e trevas?</p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/ldu.jpg" alt="Capa do Livreto"  class="zoom-img"/>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>The Dying Unicorn</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB6</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>


                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1uWko5TtpcHI4Mukt6E98sFSKYfSBefKI/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/402-encounter-of-the-week-the-dying-unicorn"
                    >Página da aventura The Dying Unicorn no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
