---
published: false
layout: padrao
title: "Encontros de Halloween"
descricao: 'Tradução de The Haunted Cornfield e The Banderhobb Coven para português, duas aventuras para D&#38;D 5e.'
categories: dnd
tags: lvl1 lvl5
permalink: /:categories/:title
resumo: 'Halloween Encounters | D&D 5e'
capa: '/img/postcapa/edh.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p><i>Encontros de Halloween é um pequeno compilado de duas aventuras publicadas por James Haeck no D&#38;D Beyond intituladas de "The Haunted Cornfield" e "The Banderhobb Coven", agora chamadas de "O Milharal Assombrado" e "O Covil de Banderhobb" respectivamente.</i></p>
                <p>
                    <i>O Milharal Assombrado</i> é uma aventura gratuita de Dungeons &#38; Dragons ambientada em Barovia,
                    onde os jogadores investigam um milharal assombrado e descobrem os segredos por trás de uma lenda
                    envolvendo um espantalho e um assassinato brutal. A aventura é projetada para personagens de 1º
                    nível e pode ser jogada como um one-shot para celebrar o Halloween.
                </p>
                <p>
                    Os jogadores são contratados por Telyma para investigar a fazenda abandonada da família O'Vana e
                    ajudar Sibyl a superar seu trauma. Durante a investigação, eles enfrentam perigos como um espantalho
                    animado pelo espírito torturado de Phineus e corvos que são, na verdade, diabretes disfarçados. A
                    aventura culmina em um confronto com o espantalho, onde os jogadores devem recuperar uma adaga
                    prateada crucial para a resolução da história.
                </p>

                <p>
                    <i>O Covil de Banderhobb</i>é uma aventura de Dungeons &#38; Dragons para personagens de 5º nível, ambientada em
                    uma pequena vila de pescadores. A história gira em torno de três bruxas marinhas conhecidas como as
                    Irmãs Peixe-Sapo, que criam um monstro chamado banderhobb para se protegerem de aventureiros. As
                    bruxas roubaram ervas mágicas e um caldeirão da vila, e agora os personagens são contratados para
                    capturar os ladrões e descobrir o que aconteceu com três jovens que desapareceram ao investigar a
                    caverna onde as bruxas se escondem.
                </p>
                <p>
                    Os jogadores devem explorar a perigosa Caverna Saca-Rolhas, enfrentando desafios como um poço cheio de
                    estalagmites e as próprias bruxas disfarçadas. No clímax da aventura, os personagens enfrentam o
                    banderhobb em uma câmara inundada, onde devem derrotar o monstro e recuperar o caldeirão mágico.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img loading="lazy" alt="Capa da Aventura" src="/img/capas/edh.png" />
                    <figcaption>Capa da Aventura</figcaption>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Halloween Encounters (The Haunted Cornfield e The Banderhobb Coven)</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 5ª Edição</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">1º nível, 4º nível</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">13</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://www.mediafire.com/file/xp7lcd3tua6u0gb/Encontros_de_Hallowen.pdf/file"
                    target="_blank"
                    class="botaodownload"
                    id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a
                    href="https://drive.google.com/file/d/1ZoGbWzAqygkjoT5Z2eaU9JdVjf5iuNI0/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a
                    href="https://www.dropbox.com/scl/fi/u2lt5g0y0tynp4z3gfd6j/Encontros-de-Hallowen.pdf?rlkey=mri72xogx2tu2jexd40vzqz49&st=uryfszta&dl=0"
                    class="botaodownload"
                    id="dropboxD"
                    target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/334-halloween-encounters-the-haunted-cornfield"
                    >Página da aventura The Haunted Cornfield no D&#38;D Beyond (em inglês)</a
                >

                <a target="_blank" href="https://www.dndbeyond.com/posts/344-halloween-encounters-the-banderhobb-coven"
                    >Página da aventura The Banderhobb Coven no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
