---
layout: padrao
title: "Encontros de Halloween"
descricao: 'Tradução de The Haunted Cornfield, The Banderhobb Coven e Beware the Driders&#39; Snare para português, duas aventuras para D&#38;D 5e.'
categories: dnd
tags: lvl1 lvl5 e5
permalink: /:categories/beyond/:title
resumo: 'Halloween Encounters | D&D 5e'
capa: '/img/postcapa/edh.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Encontros de Halloween é uma comiplação de três aventuras: O Milharal Assombrado, A Laia do
                    Banderhobb e Cuidado com a Cilada da Draider
                </p>
                <p>
                    <i><b>1. O Milharal Assombrado.</b></i> Em uma vila agrícola, superstições são comuns. Cassandra
                    O'Vana e seu marido Phineus viviam nos arredores da vila com sua filha Sibyl, que frequentava o
                    mercado. Um dia, enquanto construíam um espantalho grotesco, Sibyl partiu para a vila. Ela decidiu
                    pernoitar com uma amiga e teve uma visão aterrorizante: sua mãe esfaqueava seu pai e colocava o
                    corpo nos braços do espantalho, que começou a devorá-lo. Sibyl nunca retornou à fazenda e vive na
                    vila com Telyma. Elas buscam aventureiros para investigar o milharal abandonado e encontrar a faca
                    de esculpir que Sibyl viu em seu sonho.
                </p>
                <p>
                    <i><b>2. A Laia do Banderhobb.</b></i> Com o fim do verão, três megeras do mar emergiram numa vila
                    costeira, formando a temida Laia das Irmãs Peixe-Sapo: Sobrancelha-Encharcada, Suga-Algas e
                    Bebe-Sal. Desgostosas da humanidade e cansadas de fugir, decidiram criar um monstro para
                    protegê-las. Usando um olho embalsamado para criar um "olho de bruxa" e roubando ervas arcanas e um
                    caldeirão, elas lançaram uma poção com ossos de um peixe-sapo e de um pescador, dando origem a um
                    banderhobb após dez dias. Com jovens desaparecidos e um ladrão misterioso, a vila convocou
                    aventureiros para investigar a caverna das megeras. A missão agora é sobre descoberta e vingança,
                    não apenas sobre um roubo.
                </p>
                <p>
                    <i><b>3. Cuidado com a Cilada da Draider.</b></i> Draiders são monstros horrendos, metade drow e
                    metade aranha, criados pela deusa Lolth como punição aos drows que a desagradam. Banidas e temidas
                    por seus pares, a maioria enlouquece e vaga pela Umbraeterna, tendo como únicos companheiros aranhas
                    gigantes e outros rejeitados. Anos atrás, Tol’ratheen, um drow favorecido por Lolth, foi
                    transformado em draider ao hesitar em matar um inocente, mostrando um vislumbre de piedade.
                    Condenado, ele vagou pelas cavernas, obcecado por seu fracasso e pela necessidade de agradar a
                    deusa. Os personagens agora são os mais recentes inocentes a cair na armadilha do draider, iniciando
                    um encontro adaptável à campanha.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong
                                >Halloween Encounters (The Haunted Cornfield, The Banderhobb Coven, Beware the
                                Driders&#39; Snare)</strong
                            >
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">IDs</div>
                        <div class="cell">DB1, DB2, DB3</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">13</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1Bj9UOeIyZ-sU4mHhxga9U4YhxtcrH2En/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/334-halloween-encounters-the-haunted-cornfield"
                    >Página da aventura The Haunted Cornfield no D&#38;D Beyond (em inglês)</a
                >

                <a target="_blank" href="https://www.dndbeyond.com/posts/344-halloween-encounters-the-banderhobb-coven"
                    >Página da aventura The Banderhobb Coven no D&#38;D Beyond (em inglês)</a
                >
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/351-halloween-encounters-beware-the-driders-snare"
                    >Página da aventura Beware the Driders&#39; Snare no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
