---
layout: padrao
title: "Um Conto Longo Demais"
descricao: 'Tradução da aventura A Tale Too Far para português do Brasil!'
categories: dnd
tags: lvl1 e5
permalink: /:categories/beyond/:title
resumo: 'A Tale Too Far | D&D 5e'
capa: '/img/postcapa/cld.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>

                <p>
                    O encontro Um Conto Longo Demais, é um encontro social com um dragão de cobre disfarçado de bardo
                    viajante. Enquanto a maioria dos aventureiros ficaria feliz em receber os presentes de um dragão
                    metálico, esta poderosa serpe é mais problemática do que vale a pena. O bardo convida os personagens
                    a se juntarem a ele e trocarem histórias ao redor da fogueira, e ele é um anfitrião gracioso e
                    amigável com um pacote cheio de comida deliciosa. Qual é o problema? O dragão não deixará os
                    personagens pararem de contar histórias, contar piadas e entretê-lo—até mesmo impedindo-os de
                    adormecer para satisfazer sua fome de entretenimento.
                </p>
                <p>
                    Embora este dragão não deseje nenhum mal a seus convidados, ele ignora perigosamente o mal que está
                    causando a seus convidados. Apenas o conhecimento dos personagens os tirará dessa situação—para que
                    não se comprometam a lutar contra um dragão muito mais poderoso do que eles. Cada grupo terá uma
                    solução diferente para esse problema, e esse encontro é responsável por todos eles.
                </p>
                <p>
                    Esta estrada, que serpenteia pelo interior de um grande reino ou cidade-estado, vê muitos
                    aventureiros retornando do deserto carregados não apenas de tesouros, mas de histórias. Um dragão de
                    cobre chamado Zemidriath acabou de deixar o ninho de seus pais e está ansioso para começar a
                    construir seu tesouro de histórias e piadas, e percorreu esta estrada para encontrar alguns
                    aventureiros dispostos a compartilhar uma história.
                </p>
                <p>
                    Quando a noite cai em algum lugar ao longo de uma estrada desgastada, os personagens sentem o cheiro
                    de uma deliciosa refeição flutuando em direção a eles na brisa, depois observam uma fogueira
                    brilhando na floresta logo além do caminho. Assim como isca em um anzol, o dragão em forma humana
                    sentado ao lado da fogueira espera atrair aventureiros com histórias para contar ao seu acampamento.
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong>A Tale Too Far</strong>
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">ID</div>
                        <div class="cell">DB9</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">6</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1iOGG1g8uwnle78hOJ8JyJkrM1PYgism6/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/419-encounter-of-the-week-a-tale-too-far"
                    >Página da aventura A Tale Too Far no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
