---
layout: padrao
title: "O Novo Portador da Espada com Gancho"
descricao: 'Tradução do Capítulo 01 da Webtoon de Smash Legends para português'
categories: smash-legends
tags: slw peter
permalink: /:categories/:title
resumo: 'Capítulo 1 | Webtoon'
capa: '/img/postcapa/slw1.png'
autorL: 'Jan Young/Ryu Ho Sung'
csscustomizado: <link rel="stylesheet" href="/css/webtoon.css" />
---

<article>
    <div class="topowebtoon">
        <figure>
            <img src="{{ page.capa }}" alt="Capa de {{ page.title }}" style="object-position: center 78.34%" />
        </figure>
        <h1>{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        <div class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="{{ site.url }}">Home</a>
            {% for crumb in crumbs offset: 1 %} {% if forloop.last %} &gt; {{ page.title }} {% else %} &gt;
            <a href="{{site.url}}/{{ crumb }}/"
                >{{ crumb | replace:'-',' ' | replace:'dnd','D&#38;D' | remove:'.html' | capitalize }}</a
            >
            {% endif %} {% endfor %}
        </div>
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>
    <div class="corpo">
        <div class="ladoE">
            {% include capnav.html %} 
            <div class="separador"></div>
            <section class="galeriawebtoon">
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/0CCoczu.png" alt="{{ page.resumo }} - Página 1" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/LzLcfwz.png" alt="{{ page.resumo }} - Página 2" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/DSzal67.png" alt="{{ page.resumo }} - Página 3" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/yU0ld50.png" alt="{{ page.resumo }} - Página 4" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/evstN3a.png" alt="{{ page.resumo }} - Página 5" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/gVxVoEj.png" alt="{{ page.resumo }} - Página 6" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/nQdD4Xt.png" alt="{{ page.resumo }} - Página 7" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/POm6Qrk.png" alt="{{ page.resumo }} - Página 8" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/58Utg8B.png" alt="{{ page.resumo }} - Página 9" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/4DhQXCC.png" alt="{{ page.resumo }} - Página 10" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/c1t1aPc.png" alt="{{ page.resumo }} - Página 11" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/IaLs4TW.png" alt="{{ page.resumo }} - Página 12" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/YO9JhrA.png" alt="{{ page.resumo }} - Página 13" />
                </figure>
                <figure>
                    <img loading="lazy" src="https://i.imgur.com/xcixiA4.png" alt="{{ page.resumo }} - Página 14" />
                </figure>
            </section>
            <div class="separador"></div>
            {% include capnav.html %} 
        </div>
        <div class="outros lateralcaps">
            <h6>Capítulos Recentes</h6>
            <nav class="outrosposts">
                {% assign c = site.tags.slw | slice: 0, 10 %} {% for post in c %} {% unless post.title == page.title %}
                <a href="{{ post.url }}">
                    <figure style="background-image: url({{ post.capa }})"></figure>
                    {{ post.title }}
                </a>
                {% endunless %} {% endfor %}
            </nav>
            <div class="separador"></div>
            <div class="redeslateral menulateralrapido">
                <p>Compartilhe o post:</p>
                {% include compartilhar.html %}
            </div>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>
            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
