---
layout: padrao
title: "Encontros de Dia das Bruxas"
descricao: 'Tradução de The Haunted Cornfield, The Banderhobb Coven e Beware the Driders&#39; Snare para português, três aventuras para D&#38;D 5e.'
categories: dnd beyond
tags: lvl1 lvl5 e5
permalink: /:categories/:title
resumo: 'Halloween Encounters | D&D 5e'
capa: '/img/postcapa/edh.png'
autorL: 'James Haeck'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DB01/DB02/DB03'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}"  class="zoom-img"/>
                </figure>
                <p>
                    <strong>Três Horrores. Três Maldições.</strong> — Toda vila tem histórias que se contam em volta da
                    fogueira... mas algumas dessas histórias ganham vida. <em>Encontros de Dia das Bruxas</em> é um
                    compilado de três miniaventuras de Halloween prontas para desafiar grupos em sessões de uma noite só
                    — ou se tornar o início sombrio de campanhas maiores. Terror rural, horror marítimo e vingança
                    subterrânea se entrelaçam em três tons de medo, cada um com monstros únicos e passado sangrento.
                </p>
                <hr />
                <p><strong>Premissas das Aventuras:</strong></p>

                <p>
                    <strong>O Milharal Assombrado:</strong> Em Baróvia, a fazenda da família O’Vana foi palco de um
                    assassinato ritual onde um espantalho se tornou receptáculo de uma alma atormentada. Os personagens
                    devem enfrentar essa criatura maldita e seus corvos infernais, ou deixar o milharal continuar
                    devorando almas.
                </p>

                <p>
                    <strong>A Laia de Banderhobb:</strong> Três megeras do mar usaram magia roubada para dar vida a uma
                    criatura abissal em uma caverna costeira. Após devorar exploradores locais, elas aguardam novos
                    visitantes para brincar, corromper ou destruir. O banderhobb não é apenas guarda — é legado sombrio
                    de um pacto sussurrado sobre ossos e marés.
                </p>

                <p>
                    <strong>Cuidado com a Cilada do Draider:</strong> Nezznar, o Aranha Negra, recebeu uma segunda
                    chance de Lolth — e foi transformado em draider. Em sua nova forma, ele sequestra aliados dos
                    personagens e os atrai de volta à Caverna das Ondas Trovejantes. Agora, emaranhado em teias e
                    vingança, Nezznar aguarda como caçador em um labirinto vivo.
                </p>

                <hr />
                <p><strong>Ganchos para Aventuras Futuras:</strong></p>
                <ul>
                    <li>
                        A faca prateada do milharal pode se tornar um artefato de exorcismo, rastreando outras almas
                        presas em objetos em Baróvia.
                    </li>
                    <li>
                        A tigela mágica da caverna das megeras pode invocar elementais ou monstros ligados aos Nove
                        Infernos, revelando um culto maior que busca invadir o plano material.
                    </li>
                    <li>
                        O draider pode retornar como um vilão recorrente em campanhas envolvendo os Reinos Subterrâneos,
                        profecias de Lolth ou os remanescentes da Forja da Magia.
                    </li>
                    <li>
                        Cada aventura pode ser conectada por pistas ocultas: uma corvo de prata que aparece em todas
                        elas, a assinatura de uma entidade infernal que manipula vilarejos — ou uma profecia que promete
                        &quot;três luas, três mortes, três ressurgimentos&quot;.
                    </li>
                </ul>
                <hr />
                <p>
                    <em
                        >“É Dia das Bruxas. As fronteiras enfraquecem. Três encontros aguardam. Três portas foram
                        abertas. Vocês só precisam escolher... qual delas atravessar.”</em
                    >
                </p>
                <p>
                    Vai encarar o espantalho, mergulhar na caverna costeira ou aceitar o convite de Lolth por vingança?
                </p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/edb.jpg" alt="Capa do Livreto"  class="zoom-img"/>
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">{{ page.title }}</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell">
                            <strong
                                >Halloween Encounters (The Haunted Cornfield, The Banderhobb Coven, Beware the
                                Driders&#39; Snare)</strong
                            >
                        </div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">IDs</div>
                        <div class="cell">DB1, DB2, DB3</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1Bj9UOeIyZ-sU4mHhxga9U4YhxtcrH2En/view?usp=sharing"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/posts/334-halloween-encounters-the-haunted-cornfield"
                    >Página da aventura The Haunted Cornfield no D&#38;D Beyond (em inglês)</a
                >

                <a target="_blank" href="https://www.dndbeyond.com/posts/344-halloween-encounters-the-banderhobb-coven"
                    >Página da aventura The Banderhobb Coven no D&#38;D Beyond (em inglês)</a
                >
                <a
                    target="_blank"
                    href="https://www.dndbeyond.com/posts/351-halloween-encounters-beware-the-driders-snare"
                    >Página da aventura Beware the Driders&#39; Snare no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
