---
layout: padrao
title: "Uni e a Caçada pelo Chifre Perdido"
descricao: 'Tradução de &#34;Uni e a Caçada pelo Chifre Perdido&#34; para português, trazendo a primeira aventura gratuita do D&#38;D 2024 para a comunidade brasileira.'
categories: dnd
tags: lvl4 
permalink: /:categories/dnd-2024/:title
resumo: 'Uni and the Hunt for the Lost Horn | D&D 2024'
capa: '/img/postcapa/uhftlh.jpeg'
autorL: 'Amanda Hamon'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>
        
        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Como um fã apaixonado de Caverna do Dragão e de Dungeons &#38; Dragons, embarquei em uma aventura
                    própria: traduzir "Uni e a Caçada pelo Chifre Perdido" para o português. Inclusive, meu nome, é uma
                    homenagem a um dos personagens icônicos da série original, o qual a coragem e a determinação sempre
                    me inspiraram.
                </p>

                <p>
                    A Wizards of the Coast (WotC) pode ter desistido do nosso idioma, mas isso não me impediu. Ciente de
                    que esta é a primeira aventura gratuita para o novo sistema de D&#38;D 2024, senti-me impulsionado a
                    trazer essa experiência para a comunidade brasileira. Esta aventura introdutória inclui a história
                    completa, fichas com os personagens da série original, blocos de monstros, resumo das regras e
                    magias usadas. Não é necessário possuir os livros de regras da versão 2024 para jogar.
                </p>
                <p>
                    Me esforcei ao máximo para ser fiel às traduções oficiais feitas pela Galápagos, cuidando dos nomes
                    e do estilo de escrita para garantir que os fãs possam desfrutar da mesma qualidade e consistência
                    que esperariam dos oficiais. Algumas pequenas coisas foram ignoradas ou adaptadas de propóstio,
                    porém, pesar de todo o cuidado e dedicação tanto da minha parte quanto dos amigos que pedi para
                    ajudar na revisão do documento, é possível que algumas inconsistências ou detalhes tenham passado
                    despercebidos.
                </p>

                <p>
                    Para a apresentação, usei o
                    <a href="https://homebrewery.naturalcrit.com/">Homebrewery</a> com o tema criado por
                    KaiburrKathHound, garantindo que o visual fosse tão impressionante quanto a própria tradução. Esse
                    estilo visual mantem o padrão do documento lançado pela WotC, entregando a excelência que os
                    jogadores de D&#38;D merecem.
                </p>
                <div class="galeria">
                    <figure>
                        <img src="/img/posts/00-002.bobby.png" alt="Ícone do Bobby" />
                        <figcaption>Bobby</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-003.diana.png" alt="Ícone da Diana" />
                        <figcaption>Diana</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-004.eric.png" alt="Ícone do Eric" />
                        <figcaption>Eric</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-005.hank.png" alt="Ícone do Hank" />
                        <figcaption>Hank</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-006.niko.png" alt="Ícone da Niko" />
                        <figcaption>Niko</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-007.presto.png" alt="Ícone do Presto" />
                        <figcaption>Presto</figcaption>
                    </figure>
                    <figure>
                        <img src="/img/posts/00-008.sheila.png" alt="Ícone da Sheila" />
                        <figcaption>Sheila</figcaption>
                    </figure>
                </div>
                <p>
                    Acredito fortemente que o acesso à mídia e ao entretenimento deve ser universal, e a língua não
                    deveria ser uma barreira tão grande. Espero que essa tradução ajude a promover essa ideia e que mais
                    pessoas possam desfrutar das maravilhas do universo D&#38;D em português.
                </p>

                <p>Fiquem à vontade para baixar a tradução e mergulhar nessa nova aventura! 🚀</p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Uni e a Caçada pelo Chifre Perdido</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Uni and the Hunt for the Lost Horn</strong>&nbsp;(UHftLH)</div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">Dungeons &#38; Dragons 2024</div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">4º nível</div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">48</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a href="https://www.mediafire.com/file/rouhe7210ai6ayh/Uni_e_a_Ca%25C3%25A7ada_pelo_Chifre_Perdido.pdf/file" target="_blank" class="botaodownload" id="mediafireD"
                    ><img src="/img/svg/mediafire.svg" alt="Logo Mediafire" /> Mediafire</a
                >
                <a href="https://drive.google.com/file/d/1_vCRC_QHab46Kv7UH-usgzXXi_e4kYZT/view?usp=sharing" class="botaodownload" id="gdriveD" target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
                <a href="https://www.dropbox.com/scl/fi/u3xfwymxwnefp2ejmwslz/Uni-e-a-Ca-ada-pelo-Chifre-Perdido.pdf?rlkey=6qhmk7nl4ddcujgv6v72e180m&st=8w2pb2wv&dl=0" class="botaodownload" id="dropboxD" target="_blank"
                    ><img src="/img/svg/dropbox.svg" alt="Logo Dropbox" /> Dropbox</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/claim/source/uni-and-the-hunt-for-the-lost-horn"
                    >Página da Aventura no D&#38;D Beyond (em inglês)</a
                > <a target="_blank" href="https://simpleskans.com.br/dnd/dnd-2024/herdeiros-do-mal-elemental"
                    >Baixe também Herdeiros do Mal Elemental (2ª Aventura)</a
                >
                <a target="_blank" href="https://simpleskans.com.br/dnd/dnd-2024/contenha-os-mortos"
                    >Baixe também Contenha os Mortos (3ª Aventura)</a
                >
               
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">Uni e a Caçada pelo Chifre Perdido</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %} 
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
