---
layout: padrao
title: "Missão nas Terras Fronteiriças: Problemas com Goblins"
descricao: 'Tradução de Borderlands Quest: Goblin Trouble para português.'
categories: dnd
tags: lvl1 e55
permalink: /:categories/dnd-2024/:title
resumo: 'Borderlands Quest: Goblin Trouble | D&D 2024'
capa: '/img/postcapa/mtfpg.png'
autorL: 'Shawn Merwin'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" />
                </figure>
                <p>
                    Prepare-se para mergulhar em uma aventura única e eletrizante com Missão nas Terras Fronteiriças:
                    Problemas com Goblins Este cenário de Dungeons &amp; Dragons é perfeito para grupos de quatro a seis
                    jogadores de nível 1 que estão dando os primeiros passos no mundo dos RPGs. Durante uma sessão
                    rápida de 1 a 2 horas, você e sua turma serão convidados a explorar grutas misteriosas, rastrear
                    pistas e enfrentar goblins e bandidos inesperados enquanto desvendam o enigma por trás de um objeto
                    de grande valor que foi roubado.
                </p>
                <p>
                    Esta aventura foca no equilíbrio entre ensinamentos para novos jogadores e dicas preciosas para
                    mestres de jogo. Além da ação e suspense, o material fornece orientações detalhadas sobre como
                    gerenciar encontros, estilizar a narrativa e dinamizar os momentos decisivos para tornar cada jogada
                    memorável. Cada cena foi planejada para incentivar a criatividade – desde a análise cautelosa dos
                    rastros deixados pelos invasores até a tensão que se instala nas passagens sombrias da caverna.
                </p>
                <p>
                    Sem revelar grandes segredos, o que podemos dizer é que esta experiência promete não só desafios
                    maravilhosos e reviravoltas inesperadas, mas também momentos de pura diversão colaborativa para os
                    novatos no mundo de D&amp;D. Se você quer se aventurar no mundo do RPG e do D&amp;D 2024, Missão nas
                    Terras Fronteiriças: Problemas com Goblins é o ponto de partida perfeito para novas histórias que
                    ficarão na memória!
                </p>
                <p>
                    E se você gostou dessa prévia, imagine os tesouros escondidos, os encontros surpreendentes e as
                    reviravoltas que aguardam em cada canto das entranhas da caverna. Que outros elementos de uma
                    aventura assim te animam a entrar no mundo dos RPGs?
                </p>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Missão nas Terras Fronteiriças: Problemas com Goblins</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Borderlands Quest: Goblin Trouble</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">1</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1u4W4dUxHFJjVR42ZYlnilyvom_DIzAYX/view?usp=drive_link"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/claim/source/dnd-international-day-of-play-2025"
                    >Página da Aventura no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
