---
layout: padrao
title: "Missão nas Terras Fronteiriças: Problemas com Goblins"
descricao: 'Tradução de Borderlands Quest: Goblin Trouble para português.'
categories: dnd
tags: lvl1 e55
permalink: /:categories/dnd-2024/:title
resumo: 'Borderlands Quest: Goblin Trouble | D&D 2024'
capa: '/img/postcapa/mtfpg.png'
autorL: 'Shawn Merwin'
csscustomizado: <link rel="stylesheet" href="/css/post.css" />
idt: 'DVQ04'
---

<article>
    <div class="titulopostagem">
        <h1 id="secao1">{{ page.title }}</h1>
        <span>{{ page.resumo }}</span>

        <div class="localpostagem">
            <i class="bi bi-tags-fill"></i>
            {% assign c = page.categories %} {% for a in c %}
            <a href="{{ site.url }}/{{ a }}/" class="categoriapost"
                >{{ a | replace: '-', ' ' | replace: 'rom', 'ROM' | replace: 'dnd', 'Dungeons &#38; Dragons' }} </a
            ><span>, </span>
            {% endfor %}
            <br />
            <i class="bi bi-clock-fill"></i> {{ page.date | date: "%d/%m/%Y"}}
        </div>
    </div>

    <div class="corpo">
        <div class="ladoE">
            <div class="texto">
                <figure class="capapostagem">
                    <img src="{{ page.capa }}" alt="Imagem de Capa de {{ page.title }}" class="zoom-img" style="object-position: center 65%"/>
                </figure>
                <p>
                    <strong>Uma Tigela Prateada, Muitos Interesses</strong> — Às vezes, tudo o que separa o caos de uma
                    comunidade pacífica... é uma tigela. <em>Problemas com Goblins!</em> é uma aventura introdutória
                    perfeita para novos grupos, com duração de até duas horas, onde combate, exploração, interpretação e
                    dilemas morais se entrelaçam dentro de um covil escuro. Uma ótima forma de começar jornadas nas
                    Terras Marginais — e talvez descobrir que mesmo os artefatos mais simples podem abrigar segredos
                    místicos.
                </p>
                <hr />
                <p>
                    <strong>Premissa da Aventura:</strong><br />Os personagens são contratados para recuperar a
                    <strong>Tigela da Abundância</strong>, um artefato prateado que traria boa sorte ao Forte das Terras
                    Marginais. Após seguir rastros até as <strong>Cavernas do Caos</strong>, eles enfrentam perigos
                    crescentes: uma rede de aranhas mortas, duas ladras interesseiras, uma armadilha de pedras e um
                    grupo de goblins liderado pela enganadora <strong>Sprika</strong>, que usa uma centopeia gigante
                    como guarda-costas.<br />Mas o verdadeiro desafio surge ao final: a tigela está danificada e contém
                    um espírito mágico enfraquecido. Para salvar essa entidade e a missão, os personagens precisam
                    reparar o artefato... enquanto lidam com a traição iminente das ladras e o calor da forja.
                </p>
                <hr />
                <p><strong>Ganchos para Aventuras Futuras:</strong></p>
                <ul>
                    <li>
                        O espírito da tigela pode se tornar um patrono feérico ou um guia para recuperar outros
                        artefatos sagrados perdidos nas Terras Fronteiriças.
                    </li>
                    <li>
                        A forja dos goblins pode ter sido encomendada por um “mestre” oculto das cavernas — sugerindo
                        uma rede mais ampla de antagonistas e cultos.
                    </li>
                    <li>
                        Sprika, com seu cajado falsamente mágico, pode ser apenas o primeiro charlatão de um grupo que
                        manipula magia ilusória para enganar vilarejos.
                    </li>
                    <li>
                        Se o espírito desaparecer, rumores sobre &quot;uma morte invisível ao redor do forte&quot; podem
                        surgir — provocando campanhas baseadas em maldições e consequências astrais.
                    </li>
                </ul>
                <hr />
                <p>
                    <em
                        >“A sorte mora dentro de uma tigela... mas só se você tiver coragem, cuidado e compaixão para
                        segurá-la.”</em
                    >
                </p>
                <p>
                    Vai enfrentar goblins, bandidas e o tempo — ou deixar que a tigela esfrie… com tudo o que ela guarda
                    dentro?
                </p>
                <hr />
                <div class="separador"></div>
            </div>
            <h2 class="secaotitulo" id="secao2"><i class="bi bi-info-circle-fill"></i> Informações da Aventura</h2>
            <section class="info livro">
                <figure>
                    <img src="/img/capalivreto/mtfpg.jpg" alt="Capa do Livreto" class="zoom-img" />
                </figure>
                <div class="tabelainfo">
                    <div class="divTable">
                        <div class="cell cell-head">Título</div>
                        <div class="cell">Missão nas Terras Fronteiriças: Problemas com Goblins</div>

                        <div class="cell cell-head">Título Original</div>
                        <div class="cell"><strong>Borderlands Quest: Goblin Trouble</strong></div>

                        <div class="cell cell-head">Autor</div>
                        <div class="cell">{{ page.autorL }}</div>

                        <div class="cell cell-head">Sistema</div>
                        <div class="cell">
                            {% if page.tags.last == 'e5' %} Dungeons &amp; Dragons 5ª Edição {% endif %} {% if
                            page.tags.last == 'e55' %} Dungeons &amp; Dragons 2024 {% endif %} {% if page.tags.last ==
                            'e3' %} Dungeons &amp; Dragons 3ª Edição {% endif %}
                        </div>

                        <div class="cell cell-head">Nível dos Jogadores</div>
                        <div class="cell">
                            {% assign c = page.tags %} {% for a in c %} {% unless c.last == a %} {% unless c.first == a
                            %} - {% endunless %} {{ a | replace: 'lvl', ''}}º Nível {% endunless %} {% endfor %}
                        </div>

                        <div class="cell cell-head">Nº de Páginas</div>
                        <div class="cell">1</div>

                        <div class="cell cell-head">Formato</div>
                        <div class="cell">PDF</div>
                    </div>
                </div>
            </section>

            <div class="separador"></div>

            <h3 class="secaotitulo" id="secao3"><i class="bi bi-cloud-arrow-down-fill"></i> Downloads</h3>

            <section class="downloads">
                <a
                    href="https://drive.google.com/file/d/1u4W4dUxHFJjVR42ZYlnilyvom_DIzAYX/view?usp=drive_link"
                    class="botaodownload"
                    id="gdriveD"
                    target="_blank"
                    ><img src="/img/svg/gdrive.svg" alt="Logo Google Drive" /> Google Drive</a
                >
            </section>

            <div class="separador"></div>
            <h4 class="secaotitulo" id="secao4"><i class="bi bi-link-45deg"></i> Links relacionados</h4>
            <div class="linksrelacionados">
                <a target="_blank" href="https://www.dndbeyond.com/claim/source/dnd-international-day-of-play-2025"
                    >Página da Aventura no D&#38;D Beyond (em inglês)</a
                >
            </div>
        </div>
        <div class="lateral">
            <nav class="menulateralrapido">
                <ul>
                    <li><a href="#secao1">{{ page.title }}</a></li>
                    <li><a href="#secao2">Informações da Aventura</a></li>
                    <li><a href="#secao3">Downloads</a></li>
                    <li><a href="#secao4">Links Relacionados</a></li>
                    <li><a href="#secao5">Comentários</a></li>
                </ul>
                <div class="separador"></div>
                <div class="redeslateral">
                    <p>Compartilhe o post:</p>
                    {% include compartilhar.html %}
                </div>
            </nav>
        </div>
    </div>
</article>
<div class="corpo corpo2">
    <div>
        <div class="separador"></div>

        <section class="comentarios">
            <h5 class="secaotitulo" id="secao5"><i class="bi bi-chat-dots-fill"></i> Comentários</h5>
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement("script");
                    s.src = "https://simple-skans.disqus.com/embed.js";
                    s.setAttribute("data-timestamp", +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript
                >Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript
            >
        </section>
    </div>

    <div class="outros">
        <div class="separador"></div>
        <h6>Outros Posts</h6>
        <nav class="outrosposts">
            {% assign c = site.posts | slice: 0, 8 %} {% for post in c %} {% unless post.title == page.title %}
            <a href="{{ post.url }}">
                <figure style="background-image: url({{ post.capa }})"></figure>
                {{ post.title }}
            </a>

            {% endunless %} {% endfor %}
        </nav>
    </div>
</div>
