{% include cabecalho.html %}

{% include breadcrumbs.html %}
{% assign current_cat = page.url | split: "/" | last %}


<section>
    <div class="tituloArtigo gradienteBase">
        <h1 class="capitalizar">{{ current_cat | replace: '-', ' ' | replace: 'rom', 'ROM' }}</h1>
        <p>Todas as postagens do site incluídas nesta categoria</p>
    </div>
    <div class="tituloSecao">
        <p class="gradienteBase">
            <i class="fa-solid fa-chess-rook"></i>
        </p>
        <h2>Categoria {{ current_cat | replace: '-', ' ' | replace: 'rom', 'ROM' }}</h2>
    </div>
    <div class="categoriaPostsGrid">
        {% assign c = site.categories[current_cat] | slice: 0, 6 %}
        {% for post in c %}
        <a
            class="categoriaCaixa"
            style="background-image:  url({{ post.capa }});"
            href="{{ post.url }}"
            title="{{ post.title }}">
            <div class="categoriaTexto">
                <p class="categoriaData"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
                <h3 class="categoriaTitulo">{{ post.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="categoriaPostsLista">
        {% for post in site.categories[current_cat] %}
        {% unless post == site.categories[current_cat][0] or post == site.categories[current_cat][1] or post == site.categories[current_cat][2] or post == site.categories[current_cat][3] or post == site.categories[current_cat][4] or post == site.categories[current_cat][5] %}
        <a
            class="categoriaCaixa"
            style="background-image:  url({{ post.capa }});"
            href="{{ post.url }}"
            title="{{ post.title }}">
            <div class="categoriaTexto">
                <p class="categoriaData"><i class="fa-regular fa-clock"></i> {{ post.date | date: "%d/%m/%Y"}}</p>
                <h3 class="categoriaTitulo">{{ post.title }}</h3>
            </div>
        </a>
        {% endunless %}
        {% endfor %}
    </div>
</section>
{% include rodape.html %}
