---
layout: padrao
---

<div>
    <div class="topolivro">
        <figure>
            <img src="/img/postcapa/{{ page.capa}}.jpg" alt="Capa de {{ page.title }}" style="object-position: center 65%" />
        </figure>
        <h1 id="tituloaventura">{{ page.title }}</h1>
    </div>
    <div class="corpo">
        <aside id="toc"></aside>
        <article id="content">
            {{ content }}
            <h2 id="cr-ditos">Créditos</h2>
            <div class="creditos">
                {% if page.creditos.original %}
                <div class="original">
                    <span class="creditostitulo">{{ page.creditos.original.titulo }}</span>
                    <hr />
                    <ul>
                        {% for p in page.creditos.original.pessoas %}
                        <li>
                            <strong>{{ p.funcao }}:</strong> {{ p.nome }} {% if p.descricao %}<br />{{ p.descricao }}{%
                            endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %} {% if page.creditos.ptbr %}
                <div class="ptbr">
                    <span class="creditostitulo">{{ page.creditos.ptbr.titulo }}</span>
                    <hr />
                    <ul>
                        {% for p in page.creditos.ptbr.pessoas %}
                        <li><strong>{{ p.funcao }}:</strong> {{ p.nome }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </article>
    </div>
    <div>
        {% include baixarlivro.html %}
        <div class="separador"></div>
        <div>{% include outroslivros.html post=post %}</div>
        <div>{% include comentarios.html post=post %}</div>
    </div>
</div>
<script src="/js/livroimg.js"></script>
<script src="/js/indiceautomatico.js"></script>
<script src="/js/menumobile.js"></script>
