---
layout: padrao
---

<div>
    <div class="topolivro">
        <figure>
            <img
                src="/img/postcapa/{{ page.capa}}.jpg"
                alt="Capa de {{ page.title }}"
                style="object-position: center {{ page.poscapa }}%" />
        </figure>
        <h1 id="tituloaventura">{{ page.title }}</h1>
    </div>
    <div class="corpo">
        <aside id="toc"></aside>
        <article id="content">{{ content }}</article>
        <button id="toc-toggle" aria-label="Abrir menu">☰ ÍNDICE</button>
    </div>
    <div>
        {% include baixarlivro.html %}
        <div class="separador"></div>
        <div>{% include outroslivros.html post=post %}</div>
        <div>{% include comentarios.html post=post %}</div>
    </div>
</div>
<script src="/js/livroimg.js"></script>
<script src="/js/indiceautomatico.js"></script>
<script src="/js/menumobile.js"></script>
