---
layout: padrao
---

<article>
    {% include titulopost.html post=post %}

    <div>
        <div class="texto">
            {% include capnav.html %}
            <section class="noveltexto">
                <img src="/img/postcapa/{{ page.capa }}.jpg" alt="" class="novelimagem zoom-img" />{{ content }}
            </section>
            <div class="separador"></div>
            {% include capnav.html %}
            <div class="separador"></div>
        </div>

        <div>{% include outrossmash.html %}</div>
        {% include comentarios.html post=post %}
    </div>
</article>
